<div class="top-image mb-4">
    <img src="../../../../assets/images/mining.jpg" class="img-fluid" alt="System Overview Banner" />
  </div>
  <div class="row" id="sys-overview">
    <div class="col-lg-9 mb-5">
      <div class="content-head" id="">
        <h4 class="mb-3">Screen Reader Access</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>Screen Reader</th>
                    <th>Website</th>
                    <th>Free/Commercial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Screen Access For All (SAFA)
                    </td>
                    <td>
                        <a href="http://safa-reader.software.informer.com">http://safa-reader.software.informer.com</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Non Visual Desktop Access (NVDA)
                    </td>
                    <td>
                        <a href="http://www.nvda-project.org/">http://www.nvda-project.org/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        System Access To Go
                    </td>
                    <td>
                        <a href="http://www.satogo.com/">http://www.satogo.com/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Thunder
                    </td>
                    <td>
                        <a href="http://www.screenreader.net/index.php?pageid=2">http://www.screenreader.net/index.php?pageid=2</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        WebAnywhere
                    </td>
                    <td>
                        <a href="https://webinsight.cs.washington.edu/wa/">https://webinsight.cs.washington.edu/wa/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Hal
                    </td>
                    <td>
                        <a href="http://www.yourdolphin.co.uk/productdetailasp?idr5">http://www.yourdolphin.co.uk/productdetailasp?idr5</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                <tr>
                    <td>
                        JAWS
                    </td>
                    <td>
                        <a href="https://support.freedomscientific.com/Downloads/JAWS">https://support.freedomscientific.com/Downloads/JAWS</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                <tr>
                    <td>
                        Supernova
                    </td>
                    <td>
                        <a href="http://www.yourdolphin.co.uk/productdetail.asp?id=1">http://www.yourdolphin.co.uk/productdetail.asp?id=1</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                
                </tbody>
          </table>
        </div>
      </div>
      
    </div>
  
    <div class="col-lg-3 d-none d-md-none d-lg-block">
      <div class="card">
        <div class="card-header ">
            Screen Reader Access
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item p-0">
            <a routerLink="/interstate-mineral-transport" class="list-group-item list-group-item-action "
              id="rgtlnkNotice">Interstate Mineral Transport</a>
          </li>
          <li class="list-group-item p-0">
            <a routerLink="/temporary-proposal" class="list-group-item list-group-item-action active"
              id="rgtlnkHowToParticipate">Temporary Proposal</a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  