<div class="row">
    <div class="col-sm-12" id="page-heading">
      <div class="card mb-3">
        <img src="../../../../assets/images/mining.jpg" class="card-img" alt="Screen Reader Access" />
        <div class="card-img-overlay">
          <div>
            <h2>Screen Reader Access</h2>
            <div aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Screen Reader Access</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" id="content-wrapper">
    <div class="col-lg-9 mb-5">
     
      <div class="row">
        <div class="col-md-12" id="price">
          <table class="table table-bordered">
            <thead class="table-secondary">
                <tr>
                    <th>Screen Reader</th>
                    <th>Website</th>
                    <th>Free/Commercial</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Screen Access For All (SAFA)
                    </td>
                    <td>
                        <a href="http://safa-reader.software.informer.com">http://safa-reader.software.informer.com</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Non Visual Desktop Access (NVDA)
                    </td>
                    <td>
                        <a href="http://www.nvda-project.org/">http://www.nvda-project.org/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        System Access To Go
                    </td>
                    <td>
                        <a href="http://www.satogo.com/">http://www.satogo.com/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Thunder
                    </td>
                    <td>
                        <a href="http://www.screenreader.net/index.php?pageid=2">http://www.screenreader.net/index.php?pageid=2</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        WebAnywhere
                    </td>
                    <td>
                        <a href="https://webinsight.cs.washington.edu/wa/">https://webinsight.cs.washington.edu/wa/</a>
                    </td>
                    <td>
                        Free
                    </td>
                </tr>
                <tr>
                    <td>
                        Hal
                    </td>
                    <td>
                        <a href="http://www.yourdolphin.co.uk/productdetailasp?idr5">http://www.yourdolphin.co.uk/productdetailasp?idr5</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                <tr>
                    <td>
                        JAWS
                    </td>
                    <td>
                        <a href="https://support.freedomscientific.com/Downloads/JAWS">https://support.freedomscientific.com/Downloads/JAWS</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                <tr>
                    <td>
                        Supernova
                    </td>
                    <td>
                        <a href="http://www.yourdolphin.co.uk/productdetail.asp?id=1">http://www.yourdolphin.co.uk/productdetail.asp?id=1</a>
                    </td>
                    <td>
                        Commercial
                    </td>
                </tr>
                
                </tbody>
          </table>
        </div>
      </div>
      
    </div>
  
    <div class="col-lg-3 d-none d-md-none d-lg-block">
      <div class="card rounded-0"  id="content-wrapper-sidebar">
        <div class="card-header text-uppercase rounded-0">
            Screen Reader Access
        </div>
       
      </div>
    </div>
  </div>
  