<div class="row">
    <div class="col-sm-12" id="page-heading">
      <div class="card mb-3">
        <img src="../assets/images/interstatemineralwebbanner.png" class="card-img" alt="Interstate Mineral Transport" />
        <div class="card-img-overlay">
          <div>
            <h2>Interstate Mineral Transport</h2>
            <div aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Application</a></li>
                <li class="breadcrumb-item active" aria-current="page">Interstate Mineral Transport</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="row" id="content-wrapper">
  <div class="col-lg-9 mb-5">
    
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="mb-0 small">
              <span id="lblIMTIntro">It is inevitable to transport the mineral from one state to other to ensure
                availability of natural resource for fastest developing regions. </span>
              
                <button type="button" class="btn btn-sm btn-link" data-bs-toggle="modal" data-bs-target="#helptextModal">
                    Read More
                  </button>
              <div class="modal fade" id="helptextModal" tabindex="-1" aria-labelledby="helptextLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="helptextLabel">Interstate Mineral Transport</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="helptext">
                      <p id="lblIMTModalPara1">In order to make the natural resources available in developing areas, the
                        transfer of minerals from one state to another is a common sight in India. However, the rules
                        and regulations for transport of minerals and collection charges vary from state to state. As
                        far as interstate transport in Maharashtra is concerned, the registration and payment through
                        mahakhanij system of Revenue Department is needed. Below mentioned is the required procedure for
                        the application for transportation of minerals from other states.</p>
                      <p id="lblIMTModalHead1" class="font-weight-bold">Applicant Registration</p>
                      <ol>
                        <li id="lblIMTModalList1">Application form details vary for an individual applicant and an
                          organization applicant.</li>
                        <li><span id="lblIMTModalList2">Individual applicants are required to upload the documents like
                            PAN, Aadhar Card no. and GST no. However, In case of Individual Applicant below fields are
                            mandatory to enter during application entry:-</span>
                          <ol>
                            <li id="lblIMTModalListCompI1">Applicant Name</li>
                            <li id="lblIMTModalListCompI2">Applicant Address</li>
                            <li id="lblIMTModalListCompI3">Applicant Mobile No</li>
                            <li id="lblIMTModalListCompI4">PAN Card Number</li>
                            <li id="lblIMTModalListCompI5">From State</li>
                            <li id="lblIMTModalListCompI6">Mode of Transport</li>
                            <li id="lblIMTModalListCompI7">Entry Point District</li>
                            <li id="lblIMTModalListCompI8">Mineral Type</li>
                            <li id="lblIMTModalListCompI9">Quantity</li>
                          </ol>
                        </li>
                        <li><span id="lblIMTModalList3">Organization applicants needs to upload the documents like PAN,
                            GST no., Partnership Deed, Shop Act/Local body Certificate, Incorporation Certificate etc.
                            However, In case of Organization Applicant below fields are mandatory to enter during
                            application entry:-</span>

                          <ol>
                            <li id="lblIMTModalListCompO1">Organization Name</li>
                            <li id="lblIMTModalListCompO2">Organization Address</li>
                            <li id="lblIMTModalListCompO3">Organization Mobile No.</li>
                            <li id="lblIMTModalListCompO4">Contact Person Name</li>
                            <li id="lblIMTModalListCompO5">Contact Person Mobile No.</li>
                            <li id="lblIMTModalListCompO6">PAN Card Number</li>
                            <li id="lblIMTModalListCompO7">From State</li>
                            <li id="lblIMTModalListCompO8">Mode of Transport</li>
                            <li id="lblIMTModalListCompO9">Entry Point District</li>
                            <li id="lblIMTModalListCompO10">Mineral Type</li>
                            <li id="lblIMTModalListCompO11">Quantity</li>
                          </ol>
                        </li>
                        <li>
                          <span id="lblIMTModalList4">The applicant has to opt or select the State from which mineral is
                            to be transported, Mode of Transportation (Road, Rail and Ship), Type of Mineral being
                            transported, District through which vehicle is going to enter the Maharashtra State, and
                            Quantity to be transported. </span>
                          <ol>
                            <li id="lblIMTModalList41">In case of Road - Select Entry Point District and enter check
                              post name, through which vehicle is going to enter into the Maharashtra State.</li>
                            <li id="lblIMTModalList42">In case of Rail - Select District and enter mineral un-loading
                              station of that respective district.</li>
                            <li id="lblIMTModalList43">In case of Ship - Select Coastal District and enter port name
                              where the mineral un-loading is done.</li>
                          </ol>
                        </li>
                        <li id="lblIMTModalList5">The system generates the charges and validity period for
                          transportation of entire quantity.</li>
                        <li id="lblIMTModalList6">Submit the form with OTP verification.</li>
                      </ol>
                      <p id="lblIMTModalHead2" class="font-weight-bold">Payment</p>
                      <ol>
                        <li><span id="lblIMTModalList7">For applications that are approved from District Mining office,
                            Demand Note is created and sent to Applicant on his mobile number via SMS / email with a
                            link for online payment. </span> (<a
                            href="https://www.mahakhanij.maharashtra.gov.in/genratedDemandNote.aspx?id=XXX"><em>https://www.mahakhanij.maharashtra.gov.in/genratedDemandNote.aspx?id=XXX</em></a>)
                        </li>
                        <li id="lblIMTModalList8">Applicant can make online payment by clicking the PAY button on demand
                          note.</li>
                        <li id="lblIMTModalList9">After successful payment, an acknowledgement SMS/email is sent to
                          applicant and order is registered in the system. The applicant can download the mahakhanij
                          application from play store and login using registered mobile number via OTP for creating
                          e-TP. </li>
                      </ol>
                      <p id="lblIMTModalHead3" class="font-weight-bold">e-TP Generation</p>
                      <ol>
                        <li id="lblIMTModalList10">It is compulsory for the applicant to register every vehicle in the
                          mahakhanij system for mineral transports using mahakhanij android app.</li>
                        <li id="lblIMTModalList11">Post the vehicle registration, a link is sent to driver mobile
                          number, using which he can download mahakhanij e-TP app </li>
                        <li id="lblIMTModalList12">For generating e-TP, the applicant needs to enter Quantity, Mineral
                          Type and Delivery Challan number of incoming state and destination. </li>
                        <li id="lblIMTModalList13">Based on the information filled in by the applicant, a
                          system-generated e-TP is created along with the validity period and e-TP number. </li>
                        <li id="lblIMTModalList14">The generated e-TP for a vehicle appears on the mahakhanij e-TP app.
                          This can be produced to Revenue Department monitoring officers in Maharashtra whenever needed.
                        </li>
                        <li id="lblIMTModalList15">It is compulsory for every vehicle driver to have a smartphone for
                          the installation of mahakhanij e-TP app.</li>
                        <li id="lblIMTModalList17">The user guide for the app can be found in the 'Help' menu on the
                          mobile application.</li>
                        <li id="lblIMTModalList18">In case of any query, the applicant can contact on 020-67 800 800.
                        </li>
                      </ol>
                      <p id="lblIMTModalNote" class="font-weight-bold font-italic">Note 1: The vehicle carrying the
                        minerals is required to enter Maharashtra State through the selected entry point District only.
                      </p>
                      <p id="lblIMTModalNote2" class="font-weight-bold font-italic">Note 2: Three Android phones are
                        required for Interstate Mineral Transport in mahakhanij system.</p>
                      <p id="lblIMTModalNote2_1" class="font-italic">2.1: Applicant (Who login into mahakhanij
                        web-portal, apply for Interstate Mineral Transport and create Supervisor).</p>
                      <p id="lblIMTModalNote2_2" class="font-italic">2.2: Supervisor (Who create eTP using mahakhanij
                        Mobile Application).</p>
                      <p id="lblIMTModalNote2_3" class="font-italic">2.3: Driver (Who will have eTP view access on his
                        mobile phone to show mineral monitor officers).</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row" id="OwnerDiv">
                <div class="col-md-8">
                    <div class="form-group row">
                        <label for="OwnerType" class="col-md-4 col-form-label" id="lblOwnerTypeTP">Owner Type:</label>
                        <div class="col-md-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="OwnerType" id="OwnerTypeIndividual" onclick="FN_OwnerType(true)" value="Individual" checked>
                                <label class="form-check-label" for="OwnerTypeIndividual" id="lblIndividualTP">Individual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="OwnerType" id="OwnerTypeOrganization" onclick="FN_OwnerType(false)" value="Organization">
                                <label class="form-check-label" for="OwnerTypeOrganization" id="lblOrganizationTP">Organization</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label for="VerfiyBy" class="col-md-4 col-form-label" id="lblVerfiyByTP">Verify By:</label>
                        <div class="col-md-8">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" data-entry="VerfiyBy" onclick="FN_VerfiyBy(true)" name="VerfiyBy" id="VerfiyBy1" value="mobile" checked>
                                <label class="form-check-label" for="VerfiyBy1" id="lblMobileTP">Mobile</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" data-entry="VerfiyBy" onclick="FN_VerfiyBy(false)" name="VerfiyBy" id="VerfiyBy2" value="pan">
                                <label class="form-check-label" for="VerfiyBy2" id="lblPANTP1">PAN</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="isMobileTP">
            <div class="form-group row mb-0" id="btnMobileTpDiv">
                <div class="col-md-4">
                    <label for="txtMobileTP" class="col-form-label"><span id="lblMobileNoExTP">Mobile No.</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                </div>
                <div class="col-md-8 pl-1">
                    <div class="input-group">
                        <input type="text" id="txtMobileTP" data-entry="txtMobileTP" onkeyup="MobileNoOrPanTxtChange(0)" class="form-control validate-number validate-length validate-min-length" minlength="10" maxlength="10" length="10" placeholder="Applicant Mobile No." autocomplete="off">
                            <button type="button" class="btn btn-success border-0 " id="btnMobileTp" onclick="onVerifyExisting(0, this, 'btnMobileTp')">Search</button>
                    </div>
                    <div class="row">
                        <div class="col-md-7 pr-0">
                            <div id="btnMobileTpSuccessMsg" class="text-sucess d-none"></div>
                        </div>
                        <div class="col-md-5 pl-0 text-right">
                            <div class="btnMobileTptimerContainer d-none" >Time left: <span id="btnMobileTptimer"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 hide d-none" id="isPanTP">
            <div class="form-group row mb-0" id="btnPanTpDiv">
                <div class="col-md-4">
                    <label for="PanTxtTP2" class="col-form-label"><span id="lblPanExTP">PAN</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                </div>
                <div class="col-md-8 pl-1">
                    <div class="input-group">
                        <input type="text" class="form-control text-uppercase validate-alphanumeric" onkeyup="MobileNoOrPanTxtChange(1)" data-required="bs" maxlength="10" length="10" id="PanTxtTP2" onblur="onBlurPan(this)" placeholder="PAN Number" data-entry="PanTxt" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-sm btn-success border-0 mt-1" id="btnPanTp" onclick="onVerifyExisting(1, this, 'btnPanTp')">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 pr-0">
                            <div id="btnPanTpSuccessMsg"  class="text-sucess d-none"></div>
                        </div>
                        <div class="col-md-4 pl-0 text-right">
                            <div class="btnPanTptimerContainer d-none" >Time left: <span id="btnPanTptimer"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 hide" id="isVerifyOtpTP">
            <div class="form-group row mb-0">
                <label for="txtOTPtp" class="col-md-5 col-form-label requiredlabel">
                    <span id="lblEnterOTPTP">Verify OTP</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                </label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" class="form-control validate-number validate-min-length" data-required="bs" minlength="5" maxlength="5" length="5" id="txtOTPtp" placeholder="OTP" autocomplete="off">
                        <button type="button" class="btn  btn-success border-0" onclick="onVerifyOtpTp()">Verify</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide" id="alertExistingApplicantDiv">
        <div class="col-md-12 mt-3">
            <div class="alert alert-warning" role="alert" id="alertExistingApplicant"></div>
        </div>
    </div>
    <div class="row mt-4 disabledUpdate" id="applicationDiv">
        <div class="col-md-12">
            <h6 class="form-heading fw-bold" id="lblFormHead1">Applicant Details</h6>
        </div>
        <div class="col-md-12">
            <div class="form-group mb-2 row">
                <label for="licenseeType" class="col-md-2 col-form-label" id="lbllicenseeType">Owner Type:</label>
                <div class="col-md-7 pl-sm-5">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" disabled="disabled" data-entry="licenseeType" onclick="FN_licenseeType(true)" name="licenseeType" id="licenseeType1" value="Individual" checked>
                        <label class="form-check-label" for="licenseeType1" id="lblIndividual">Individual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" disabled="disabled" data-entry="licenseeType" onclick="FN_licenseeType(false)" name="licenseeType" id="licenseeType2" value="Organization">
                        <label class="form-check-label" for="licenseeType2" id="lblOrganization">Organization</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-5 col-form-label requiredlabel" for="txtName">
                    <span class="divInd" id="lblCntApplicantName">Applicant Name</span>
                    <span class="divOrg d-none" id="lblCntOrgName">Org. Name</span>
                    :<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                </label>
                <div class="col-md-7">
                    <input type="text" class="form-control validate-alphanumericWithSpaceAndSomeSpecialChars  text-capitalize validate-length" data-required="bs" data-entry="txtName" length="200" id="txtName" placeholder="Applicant Name">
                </div>
            </div>
        </div>
        <div class="col-md-6 divOrg">
            <div class="form-group row">
                <label class="col-md-5 col-form-label requiredlabel" for="organizationType" id="lblCntOrgType">Org. Type: <sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <select class="form-control" data-required="bs" data-entry="organizationType" id="organizationType"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="txtAddressIMT" class="col-md-5 col-form-label requiredlabel">
                    <span class="divInd" id="lblCntApplicantAddress">Applicant Address</span>
                    <span class="divOrg  d-none" id="lblCntOrgAddress">Org. Address</span>
                    :<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                </label>
                <div class="col-md-7">
                    <input type="text" class="form-control validate-length validate-alphanumericWithSpaceAndSomeSpecialChars text-capitalize" data-entry="txtAddressIMT" data-required="bs" length="200" id="txtAddressIMT" placeholder="Applicant Address">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="txtMobile" class="col-md-5 divInd col-form-label requiredlabel"><span id="lblCntApplicantMobileNo">Applicant Mobile No.</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <label for="txtMobile" class="col-md-5 divOrg col-form-label  d-none"><span id="lblCntOrgMobileNo">Org. Mobile No.</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <input type="text" id="txtMobile" data-entry="txtMobile" data-required="bs" class="form-control validate-number validate-length validate-min-length" minlength="10" maxlength="10" length="10" placeholder="Applicant Mobile No.">
                </div>
            </div>
        </div>
        <div class="col-md-6 divInd">
            <div class="form-group row">
                <label for="txtLandline" class="col-md-5 col-form-label"><span id="lblCntLandlineNo">Landline No.</span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control validate-number validate-min-length" minlength="11" maxlength="11" length="11" data-entry="txtLandline" id="txtLandline" placeholder="Landline No.">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="txtEmail" class="col-md-5 col-form-label">
                    <span class="divInd" id="lblCntApplicantEmail">Applicant Email Id</span>
                    <span class="divOrg" id="lblCntOrgEmail  d-none">Org. Email Id</span>:
                </label>
                <div class="col-md-7">
                    <input type="email" class="form-control validateEmail" id="txtEmail" placeholder="Email Id">
                </div>
            </div>
        </div>
        <div class="col-md-6 divOrg">
            <div class="form-group row">
                <label for="contactPersonName" class="col-md-5 col-form-label requiredlabel pr-0"><span id="lblCntContactPersonName">Contact Person Name</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <input type="text" class="form-control validate-alphabets text-capitalize validate-length" data-required="bs" length="50" data-entry="contactPersonName" id="contactPersonName" placeholder="Contact Person Name">
                </div>
            </div>
        </div>
        <div class="col-md-6 divOrg">
            <div class="form-group row">
                <label for="contactPersonMobileNo" class="col-md-5 col-form-label"><span id="lblCntContactPersonMobileNo">Contact Person Mobile No.</span>:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control validate-number validate-min-length" minlength="10" maxlength="10" length="10" data-entry="contactPersonMobileNo" id="contactPersonMobileNo" placeholder="Contact Person Contact No.">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="ddlState" class="col-md-5 col-form-label requiredlabel">
                    <span class="divInd" id="lblownerState">Applicant State</span>
                    <span class="divOrg" id="lblOrgownerState  d-none">Org. State</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                </label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ownerStateId" id="ownerStateId">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="ownerDistrictIdDiv">
            <div class="form-group row">
                <label for="ddlState" class="col-md-5 col-form-label requiredlabel">
                    <span class="divInd" id="lblApplicantDistrictTP">Applicant District</span>
                    <span class="divOrg" id="lblOrgDistrictTP  d-none">Org. District</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                </label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ownerDistrictId" id="ownerDistrictId">
                        <option value="">Select District</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-borderless">
                <thead class="table-dark">
                    <tr>
                        <th >Document Name</th>
                        <th >Document Number</th>
                        <th ></th>
                        <th style="width: 80px;" class="text-left"></th>
                    </tr>
                </thead>
                <tbody class="border-1">
                    <tr class="form-group">
                        <td>
                            <label for="PanTxt" class="requiredlabel m-0">
                                <span id="lblPAN">PAN</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup>
                                <span style="font-size: 10px;" class="text-danger ">(PAN no. & PAN document mandatory)</span>
                            </label>
                        </td>
                        <td>
                            <input type="text" class="form-control text-uppercase validate-alphanumeric" data-required="bs" maxlength="10" length="10" id="PanTxt" onblur="onBlurPan(this)" placeholder="PAN Number" data-entry="PanTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="Pan" data-docutype="Pan" data-docutypeid="1" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="PanPath" class="form-text links text-muted mb-2 hide w-100"><i class="fa fa-file-alt text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="PanImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="PanImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('Pan')" />
                        </td>
                    </tr>
                    <tr class="divInd">
                        <td>
                            <label for="AadharTxt" class="m-0"><span id="lblAadhar">Aadhar</span>:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control validate-number validate-min-length" minlength="12" maxlength="12" id="AadharTxt" placeholder="Aadhar Number" data-entry="AadharTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control  uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="Aadhar" data-docutypeid="2" data-docutype="Aadhar" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="AadharPath" class="form-text links text-muted mb-2 hide w-100"><i class="fa fa-file-alt  text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="AadharImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="AadharImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('Aadhar')" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="GSTTxt" class="m-0"><span id="lblGST">GST</span>:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control validate-alphanumeric  validate-gst" placeholder="GST Number" maxlength="15" id="GSTTxt" data-entry="GSTTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control  uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="GST" data-docutypeid="3" data-docutype="GST" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="GSTPath" class="form-text links text-muted mb-2 hide w-100"><i class="fa fa-file-alt  text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="GSTImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="GSTImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('GST')" />
                        </td>
                    </tr>
                    <tr class="divOrg">
                        <td>
                            <label for="IncorporationCertificateTxt" class="m-0"><span id="lblCntIncorporationCertificate">Incorporation Certificate</span>:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="IncorporationCertificateTxt" style="max-width: calc(100% - 30px); display: inline;" placeholder="Incorporation Date" data-entry="IncorporationCertificateTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control  uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="IncorporationCertificate" data-docutypeid="4" data-docutype="IncorporationCertificate" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="IncorporationCertificatePath" class="form-text hide links text-muted mb-2  w-100"><i class="fa fa-file-alt  text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="IncorporationCertificateImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="IncorporationCertificateImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('IncorporationCertificate')" />
                        </td>
                    </tr>
                    <tr class="divOrg" id="partnershipDeedDiv">
                        <td>
                            <label for="PartnershipDeedTxt" class="m-0"><span id="lblCntPartnershipDeedCertificate">Partnership Deed Certificate</span>:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control validate-number validate-min-length" minlength="10" maxlength="15" id="PartnershipDeedTxt" placeholder="Partnership Deed Certificate" data-entry="PartnershipDeedTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="PartnershipDeed" data-docutypeid="6" data-docutype="PartnershipDeed" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="PartnershipDeedPath" class="form-text links hide text-muted mb-2  w-100"><i class="fa fa-file-alt  text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="PartnershipDeedImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="PartnershipDeedImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('PartnershipDeed')" />
                        </td>
                    </tr>
                    <tr class="divOrg">
                        <td>
                            <label for="ShopActTxt" class="m-0"><span id="lblCntShopActLocalBodyCertificate">Shop Act/ Local Body Certificate</span>:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control validate-number validate-min-length" minlength="10" maxlength="15" id="ShopActTxt" placeholder="Shop Act/ Local Body Certificate" data-entry="ShopActTxt" />
                        </td>
                        <td>
                            <div class="input-file-container">
                                <input type="file" class="form-control uploadDoc" accept=".jpg,.jpeg,.png,.pdf" id="ShopAct" data-docutypeid="5" data-docutype="ShopAct" />
                            </div>
                        </td>
                        <td class="text-left px-0">
                            <a href="" target="_blank" id="ShopActPath" class="form-text links text-muted hide mb-2  w-100"><i class="fa fa-file-alt  text-primary"></i></a>
                            <img src="../../../../assets/images/success.svg" class="uploadDocImg mx-1" style="height: 25px; width: 25px;"
                                id="ShopActImg" alt="Document Uploaded Successfully" title="Document Uploaded Successfully" />
                            <img class="uploadDocBtn" src="../../../../assets/images/close_upload_file.svg" style="height: 25px; width: 25px; cursor: pointer;"
                                id="ShopActImgDelete" alt="Delete Uploaded Document" title="Delete Uploaded Document" onclick="onClickDeleteUploadedDoc('ShopAct')" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 mt-3">
            <h6 class="form-heading fw-bold" id="lblFormHead2">Mineral Import Details</h6>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="ddlState" class="col-md-5 col-form-label requiredlabel"><span id="lblFromState">From State</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ddlState" id="ddlState">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group row">
                <label for="ddltrxMode" class="col-md-5 col-form-label requiredlabel"><span id="lblTransportMode">Mode of transport</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ddltrxMode" id="ddltrxMode">
                        <option value="">Select mode of transport</option>
                        <option value="Road">Road</option>
                        <option value="Rail">Rail</option>
                        <option value="Ship">Ship</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="ddlEntryDistrict" class="col-md-5 col-form-label requiredlabel"><span id="lblEntryDistrict">Entry Point District</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ddlEntryDistrict" id="ddlEntryDistrict">
                        <option value="">Select Entry Point District</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 selectmodeoftransport d-none">
            <div class="form-group row">
                <label for="pac-input" class="col-md-5 col-form-label requiredlabel"><span id="bordercheckpointName" class="isEngLangSelected">Entry Point Location</span><span class="isMarLangSelected hide" id="bordercheckpointName_m">प्रवेश करण्याचे ठिकाण</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <input type="text" class="form-control text-capitalize validate-length"
                        data-required="bs" data-entry="pac-input" length="200" id="pac-input"
                        placeholder="Search" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="ddlMineralType" class="col-md-5 col-form-label requiredlabel"><span id="lblMineralType">Mineral Type</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <select class="form-control selectpicker" data-required="bs" data-entry="ddlMineralType" id="ddlMineralType">
                        <option value="">Select Mineral Type</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="txtQuantity" class="col-md-5 col-form-label requiredlabel"><span id="lblQuantity">Quantity</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" class="form-control validate-decimal-number" data-required="bs" maxlength="7" length="7" id="txtQuantity" data-entry="txtQuantity" placeholder="Enter quantity">
                            <select class="form-control selectpicker" data-required="bs" data-entry="selQuantityUnit" id="selQuantityUnit">
                                <option value="">Type</option>
                                <option value="Ton">Ton</option>
                                <option value="Brass">Brass</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="isOTPsend">
            <div class="form-group mb-1 row">
                <label for="txtOTPimt" class="col-md-5 col-form-label requiredlabel"><span id="lblOTP">Enter OTP</span>:<sup class=""><span class="fa fa-asterisk small text-danger"></span></sup></label>
                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" class="form-control validate-number validate-min-length" data-required="bs" minlength="5" maxlength="5" length="5" id="txtOTPimt" placeholder="Enter OTP">
                        <button class="btn btn-input btn-success" type="button" id="btnOTP">Send OTP</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 text-left">
                    <small id="otpSuccessMsg" class="text-sucess d-none"></small>
                </div>
                <div class="col-md-4 text-right pr-4">
                    <small class="timerContainer d-none">Time left = <span id="timer"></span></small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="g-recaptcha" data-callback="captchaCallbackFuntion"  data-expired-callback="captchaExpiredCallbackFuntion" data-sitekey="6Lc0WBAaAAAAACTyMTWTZ_3DaMn9rPPyXgCskw4A"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 footer-buttons pb-5 pt-0 mb-5 mb-md-0">
            <button type="button" onclick="FN_clear()" id="btnClear" class="btn btn-danger btn-sm me-2">Clear</button>
            <button type="button" id="btnSubmit" class="btn btn-success btn-sm">Submit</button>
        </div>
    </div>
  </div>
  <div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="card rounded-0"  id="content-wrapper-sidebar">
      <div class="card-header text-uppercase rounded-0">
        Application
      </div>
      <ul class="nav nav-list flex-column">
        <li class="nav-item border-bottom">
          <a routerLink="/interstate-mineral-transport" class="nav-link active" id="rgtlnkNotice">Interstate Mineral Transport</a>
        </li>
        <li class="nav-item">
          <a routerLink="/temporary-proposal" class="nav-link" id="rgtlnkHowToParticipate">Temporary Proposal</a>
        </li>
      </ul>
    </div>
  </div>
</div>