.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFAFA;
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 0 1rem;
    z-index: 100;
}

.header__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between
}

.header__img {
    height: 35px;
}

.header__icon,
.header__toggle {
    font-size: 1.2rem
}

@media screen and (min-width:480px) {
    .header {
        padding: 0 0.5rem 0 6rem
    }
    .header__container {
        height: calc(var(--header-height) + .5rem)
    }
    .header__toggle {
        display: none
    }
    .header__logo {
        display: block
    }
    .header__img {
        height: 40px;
        order: 0;
    }
}