.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(22, 8, 43, .1);
    padding: 5px 1rem;
    z-index: 100;
    background-color: var(--main-color);
}

.header .btn {
    padding: 19px;
    border: none;
    border-radius: 0;
    background: #2a4766;
    color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between
}

.header__img {
    height: 38px;
}

.header__icon,
.header__toggle {
    font-size: 1.2rem
}

.dropdown-menu .dropdown-item {
    font-size: 0.85rem;
}

@media screen and (min-width:480px) {
    /* .header {
        padding: 0 0.5rem 0 4.8rem
    } */
    .header__container {
        height: var(--header-height);
    }
    .header__toggle {
        display: none
    }
    .header__logo {
        display: block
    }
    .header__img {
        height: 38px;
        order: 0;
    }
}