<div class="row" id="main-content">
    <div class="container">      

        <div class="row">
            <div class="col-lg-5">
                <div class="row" id="heading">
                    <div class="col-sm-12 text-center">
                        <h1>mahakhanij</h1>
                        <h4>Integrated Mining Lease Management System</h4>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 g-3" id="ministers">
                    <div class="col">
                        <div class="card card-glass">
                            <div class="card-body">
                                <img src="/assets/images/OuterImages/UddhavTHACKERAY.png" alt="Uddhav THACKERAY">
                                <p class="small">Honourable</p>
                                <h5 class="card-title">UDDHAV THACKERAY</h5>
                                <p class="card-text">Chief Minister of Maharashtra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-glass">
                            <div class="card-body">
                                <img src="/assets/images/OuterImages/balasahenthorat.png" alt="Balasahen Thorat">
                                <p class="small">Honourable</p>
                                <h5 class="card-title">BALASAHEB THORAT</h5>
                                <p class="card-text">Revenue Minister of Maharashtra</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-glass">
                            <div class="card-body">
                                <img src="/assets/images/OuterImages/abdulsattar.png" alt="Abdul Sattar">
                                <p class="small">Honourable</p>
                                <h5 class="card-title">ABDUL SATTAR</h5>
                                <p class="card-text">Minister of State for Revenue</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-glass">
                            <div class="card-body">
                                <img src="/assets/images/OuterImages/nitinkareer.png" alt="Nitin Kareer">
                                <p class="small">Honourable</p>
                                <h5 class="card-title">DR. NITIN KAREER</h5>
                                <p class="card-text">Additional Chief Secretary</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row g-2 border-bottom" id="stat-counts">
                    <div class="col-xl col-lg-5 col-md col-sm-12">
                        <div class="card card-glass">
                            <div class="card-header">
                                <img src="/assets/images/OuterImages/Mines.svg" alt="Mines">
                                Mines
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h3>193</h3>
                                        <small>Sand</small>
                                    </div>
                                    <div class="col">
                                        <h3>269</h3>
                                        <small>Stone</small>
                                    </div>
                                    <div class="col">
                                        <h3>1014</h3>
                                        <small>Others</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg col-md-auto col-sm-6 border-start border-end">
                        <div class="card card-glass">
                            <div class="card-header">
                                <img src="/assets/images/OuterImages/Minerals.svg" alt="Minerals">
                                Minerals
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>24</h3>
                                        <small>Total Minerals Monitored</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg col-md-auto col-sm-6">
                        <div class="card card-glass">
                            <div class="card-header">
                                <img src="/assets/images/OuterImages/Vehicles.svg" alt="Vehicles">
                                Vehicles
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>138176</h3>
                                        <small>Registered Vehicle</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-none d-lg-block">
                    <div class="col">
                        <iframe src="assets/jcb.html" scrolling="no" height="370px" class="w-100"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>