#main-content {
    background-image: url('/assets/images/OuterImages/maharashtra-bg_o.svg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: 47% auto;
    background-position-y: 20px;
    background-position-x: 18px;
}