<div class="container-fluid">
    <div class="row" id="main-content">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" id="main-head">
                        <h1>mahakhanij</h1>
                        <h5>Integrated Mining Lease Management System</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="row" id="ministers">
                            <div class="col-sm-6">
                                <div class="card card-body mb-3">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="/assets/images/OuterImages/UddhavTHACKERAY.png" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="honor">Honourable</p>
                                            <h6 class="name">UDDHAV THACKERAY</h6>
                                            <small class="desig">Chief Minister of Maharashtra</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/assets/images/OuterImages/balasahenthorat.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="honor">Honourable</p>
                                                <h6 class="name">BALASAHEB THORAT</h6>
                                                <small class="desig">Revenue Minister of Maharashtra</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card card-body mb-3">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="/assets/images/OuterImages/abdulsattar.png" alt="...">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <p class="honor">Honourable</p>
                                            <h6 class="name">ABDUL SATTAR</h6>
                                            <small class="desig">Minister of State for Revenue</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <img src="/assets/images/OuterImages/nitinkareer.png" alt="...">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <p class="honor">Honourable</p>
                                                <h6 class="name">DR. NITIN KAREER</h6>
                                                <small class="desig">Additional Chief Secretary</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id=ani-stats>
                    <div class="col-sm-8" id=ani>
                        <img src="/assets/images/OuterImages/bg-illustration.svg" class="bg-main" alt="Main Image">
                        <img src="/assets/images/OuterImages/Truck.svg" class="truck truck-animation" alt="Truck">
                        <img src="/assets/images/OuterImages/police_vehicle.svg" class="police-vehicle police-vehicle-animation" alt="Police Vehicle">
                        <img src="/assets/images/OuterImages/police.svg" class="police police-animation" alt="Police">
                        <img src="/assets/images/OuterImages/drone.svg" class="drone drone-animation" alt="Drone">
                        <img src="/assets/images/OuterImages/bricks-box.svg" class="bricks-box bricks-box-animation" alt="Bricks box">
                        <img src="/assets/images/OuterImages/driver.svg" class="driver driver-animation" alt="Driver">
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-body" id="statistics">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="media-img">
                                        <img src="/assets/images/OuterImages/Mines.svg" alt="Mines">
                                        <h6>Mines</h6>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex flex-row bd-highlight">
                                        <div class="stat">
                                            <small>Sand</small>
                                            <h3>183</h3>
                                        </div>
                                        <div class="stat px-4">
                                            <small>Stone</small>
                                            <h3>256</h3>
                                        </div>
                                        <div class="stat">
                                            <small>Others</small>
                                            <h3>974</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="media-img">
                                        <img src="/assets/images/OuterImages/Minerals.svg" alt="...">
                                        <h6>Minerals</h6>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex flex-row bd-highlight">
                                        <div class="stat">
                                            <small>Total Minerals Monitored</small>
                                            <h3>24</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <div class="media-img">
                                        <img src="/assets/images/OuterImages/Vehicles.svg" alt="...">
                                        <h6>Vehicles</h6>
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex flex-row bd-highlight">
                                        <div class="stat">
                                            <small>Registered Vehicle</small>
                                            <h3>138172</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>