<div class="nav" id="navbar">
    <div class="nav-head">
        <img src="assets/images/OuterImages/revenue_department.png">
    </div>
    <nav class="nav__container">
        <div class="nava">
            <ul class="nav__list">
                <li>
                    <input id="group-1" type="checkbox" hidden />
                    <label for="group-1"><img src="assets/images/menu_icons/Dashboard_blue.svg">Dashboard</label>
                </li>
                <li>
                    <input id="group-2" type="checkbox" hidden />
                    <label for="group-2">
                        <img src="assets/images/menu_icons/Register_blue.svg">
                        Masters <span class="fa fa-angle-right"></span> </label>
                    <ul class="group-list">
                        <li><a href="#">User Register</a></li>
                        <li><a href="#">Lessee/License Register</a></li>
                        <li><a href="#">Quarry Register</a></li>
                        <li><a href="#">Stockpoint Register</a></li>
                        <li><a href="#">Crusher Register</a></li>
                        <li><a href="#">Seized Minerals Register</a></li>
                        <li><a href="#">Project/Package Register</a></li>
                        <li><a href="#">Quarry for Project Register</a></li>
                        <li><a href="#">Order Register</a></li>
                        <li><a href="#">Lease Holder Profile</a></li>
                        <li><a href="#">Census Details</a></li>
                        <li><a href="#">Scheme Type Register</a></li>
                        <li><a href="#">Mineral Rate Chart</a></li>
                        <li><a href="#">Account Head Master</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-3" type="checkbox" hidden />
                    <label for="group-3">
                        <img src="assets/images/menu_icons/Monitoring_blue.svg">
                        Demand <span class="fa fa-angle-right"></span> </label>
                    <ul class="group-list">
                        <li><a href="#">Demand Note for Permanent Lease</a></li>
                        <li><a href="#">Demand Note for Temporary Lease</a></li>
                        <li><a href="#">Demand Note for SI Charges</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-4" type="checkbox" hidden />
                    <label for="group-4">
                        <img src="assets/images/menu_icons/e-TP_blue.svg">
                        e-TP Transport Permit <span class="fa fa-angle-right"></span> </label>
                    <ul class="group-list">
                        <li><a href="#">e-TP</a></li>
                        <li><a href="#">TP Verification</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-5" type="checkbox" hidden />
                    <label for="group-5"><img src="assets/images/menu_icons/VehicleTracking_blue.svg"> Vehicle Tracking <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">VTS Dashboard</a></li>
                        <input id="sub-group-4" type="checkbox" hidden />
                        <label for="sub-group-4"><span class="fa fa-angle-right"></span> Fleet Management</label>
                        <ul class="sub-group-list">
                            <li><a href="#">Vehicle Register</a></li>
                        </ul>
                        <li><a href="#">Vehicle Tracking</a></li>
                        <li><a href="#">G I S</a></li>
                        <li><a href="#">Vehicle Current Location</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-6" type="checkbox" hidden />
                    <label for="group-6"><img src="assets/images/menu_icons/MonitoringTargets_blue.svg"> Minotoring Target <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">Taluka Target</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-7" type="checkbox" hidden />
                    <label for="group-7"><img src="assets/images/menu_icons/department_blue.svg"> Office Register <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">Office Register</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-8" type="checkbox" hidden />
                    <label for="group-8"><img src="assets/images/menu_icons/Reports_blue.svg"> Reports <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">Summary Report</a></li>
                        <li><a href="#">User Report</a></li>
                        <li><a href="#">Vehicle Report</a></li>
                        <li><a href="#">Breakdown Report</a></li>
                        <li><a href="#">Taluka Report</a></li>
                        <li><a href="#">Unauthorized Spots</a></li>
                        <input id="sub-group-4" type="checkbox" hidden />
                        <label for="sub-group-4"><span class="fa fa-angle-right"></span> Second level</label>
                        <ul class="sub-group-list">
                            <li><a href="#">G P S Invalid Vehicle Report</a></li>
                            <li><a href="#">Register Unit Report</a></li>
                            <li><a href="#">Bidder Wise eTP Report</a></li>
                            <li><a href="#">Total Lifting</a></li>
                            <li><a href="#">Daily Lifting</a></li>
                            <li><a href="#">Lifting Report</a></li>
                            <li><a href="#">Performance Report</a></li>
                            <li><a href="#">Vehicle Log</a></li>
                            <li><a href="#">Invalid Vehicles</a></li>
                            <li><a href="#">Geofence Report</a></li>
                            <li><a href="#">Receive Lifting Report</a></li>
                            <li><a href="#">Receive eTP Report</a></li>
                        </ul>
                        <li><a href="#">VTS Alert Report</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-9" type="checkbox" hidden />
                    <label for="group-9"><img src="assets/images/menu_icons/Charts_blue.svg"> Charts <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <input id="sub-group-5" type="checkbox" hidden />
                        <label for="sub-group-5"><span class="fa fa-angle-right"></span> Unit Wise Charts</label>
                        <ul class="sub-group-list">
                            <li><a href="#">Lifting Chart</a></li>
                            <li><a href="#">Lifting Line Chart</a></li>
                            <li><a href="#">Invalid Vehicle Chart</a></li>
                        </ul>
                    </ul>
                </li>
                <li>
                    <input id="group-10" type="checkbox" hidden />
                    <label for="group-10"><img src="assets/images/menu_icons/Settings_blue.svg"> Settings <span class="fa fa-angle-right"></span></label>
                    <ul class="group-list">
                        <li><a href="#">Year Setting</a></li>
                        <li><a href="#">Plot Time Setting</a></li>
                        <li><a href="#">Set Brass Flag</a></li>
                        <li><a href="#">S M S Service Setting</a></li>
                        <li><a href="#">Register D S C</a></li>
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </li>
                <li>
                    <input id="group-1" type="checkbox" hidden />
                    <label for="group-1"><img src="assets/images/menu_icons/logout_blue.svg">Logout</label>
                </li>
            </ul>
        </div>
    </nav>
</div>