<div class="top-image mb-4">
  <img src="../../../../assets/images/Contactus.png" class="img-fluid" alt="Contact Us Banner" />
</div>
<div class="row" id="sys-overview">
  <div class="col-md-12 mb-5">
    <div class="content-head" id="lblContact">
      <h4 class="mb-3">Contact</h4>
    </div>
    <div class="card-deck">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Dr. Nitin Kareer</h6>
              <p class="mb-2 text-warning small" id="lblnkDesi">Additional Chief Secretary,<br> Revenue and Forests
                Department</p>
              <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 022-22048247</p>
              <p class="d-flex align-items-center small mb-0">
                <i class="fas fa-envelope mr-2"></i>
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in"> dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Ramesh Chavan</h6>
              <p class="mb-2 text-warning small" id="lblnkDesi">Joint Secretary,<br> Revenue and Forests Department</p>
              <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 022-22048247</p>
              <p class="d-flex align-items-center small mb-0">
                <i class="fas fa-envelope mr-2"></i>
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in"> dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Dinesh Chavan</h6>
              <p class="mb-2 text-warning small" id="lblnkDesi">Under Secretary,<br> Revenue and Forests Department</p>
              <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 022-22048247</p>
              <p class="d-flex align-items-center small mb-0">
                <i class="fas fa-envelope mr-2"></i>
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in"> dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Gajanan Dabhilkar</h6>
              <p class="mb-2 text-warning small" id="lblnkDesi">Desk Officer,<br> Revenue and Forests Department</p>
              <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 022-22048247</p>
              <p class="d-flex align-items-center small mb-0">
                <i class="fas fa-envelope mr-2"></i>
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in"> dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-details">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4 offset-8">
              <select class="form-select form-control" aria-label="">
                <option selected>Select District</option>
                <option value="1">Ahmednagar</option>
                <option value="2">Pune</option>
                <option value="3">Nashik</option>
              </select>
            </div>
          </div>
          <div class="contact-map">

          </div>
        </div>
        <div class="col-md-5">
          <div class="form-heading text-lg-start text-center ">
            <span id="lblDistrictName" class="">District</span> -
            <span>
              <label class="isEngLangSelected" id="DistrictName">AHMEDNAGAR</label>
            </span>
            <div class="bindContact mt-3">
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Dr. Rajendra B. Bhosale</h6>
                  <p class="mb-2 text-warning small" id="lblnkDesi">Collector</p>
                  <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 9833021955, 0241-2345001</p>
                  <p class="d-flex align-items-center small mb-0">
                    <i class="fas fa-envelope mr-2"></i>
                    <span style="word-break: break-all;">&nbsp;
                      <a href="mailto:collector.ahmednagar@maharashtra.gov.in">
                        collector[dot]ahmednagar[at]maharashtra[dot]gov[dot]in</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Piraji Sormare</h6>
                  <p class="mb-2 text-warning small" id="lblnkDesi">Additional Collector</p>
                  <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 02412-326296</p>
                  <p class="d-flex align-items-center small mb-0">
                    <i class="fas fa-envelope mr-2"></i>
                    <span style="word-break: break-all;">&nbsp;
                      <a href="mailto:addcoll.ahmednagar@gmail.com"> addcoll[dot]ahmednagar[at]gmail[dot]com</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Wasim Sayyad</h6>
                  <p class="mb-2 text-warning small" id="lblnkDesi">District Mining Officer</p>
                  <p class="small mb-0"><i class="fas fa-phone-alt mr-2"></i> 9765892002</p>
                  <p class="d-flex align-items-center small mb-0">
                    <i class="fas fa-envelope mr-2"></i>
                    <span style="word-break: break-all;">&nbsp;
                      <a href="mailto:ah.mngdmo@gmail.com"> ah[dot]mngdmo[at]gmail[dot]com </a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
