<div class="row">
  <div class="col-sm-12" id="page-heading">
    <div class="card mb-3">
      <img src="../../../../assets/images/Contactus.png" class="card-img" alt="Contact Us Banner" />
      <div class="card-img-overlay">
        <div>
          <h2>Contact</h2>
          <div aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="content-wrapper">
  <div class="col-md-12 mb-5">
    
    <div class="card-deck">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded-0 mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Dr. Nitin Kareer</h6>
              <p class="mb-2 text-secondary small" id="lblnkDesi">Additional Chief Secretary,<br> Revenue and Forests
                Department</p>
              <p class=" mb-1"><i class="fas fa-phone-alt "></i><a href="" class="">022-22048247</a></p>
              <p class="d-flex align-items-center  mb-0">
                <i class="fas fa-envelope"></i> 
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in" class="">dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded-0 mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Ramesh Chavan</h6>
              <p class="mb-2 text-secondary small" id="lblnkDesi">Joint Secretary,<br> Revenue and Forests Department</p>
              <p class=" mb-1"><i class="fas fa-phone-alt "></i><a href="" class="">022-22048247</a></p>
              <p class="d-flex align-items-center  mb-0">
                <i class="fas fa-envelope"></i> 
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in" class="">dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded-0 mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Dinesh Chavan</h6>
              <p class="mb-2 text-secondary small" id="lblnkDesi">Under Secretary,<br> Revenue and Forests Department</p>
              <p class=" mb-1"><i class="fas fa-phone-alt "></i><a href="" class="">022-22048247</a></p>
              <p class="d-flex align-items-center  mb-0">
                <i class="fas fa-envelope"></i> 
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in" class="">dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card rounded-0 mb-4">
            <div class="card-body">
              <h6 class="fw-bold" id="lblnkName">Shri. Gajanan Dabhilkar</h6>
              <p class="mb-2 text-secondary small" id="lblnkDesi">Desk Officer,<br> Revenue and Forests Department</p>
              <p class=" mb-1"><i class="fas fa-phone-alt "></i><a href="" class="">022-22048247</a></p>
              <p class="d-flex align-items-center  mb-0">
                <i class="fas fa-envelope"></i> 
                <span class="text-break">
                  <a href="mailto:dokh.rfd@maharashtra.gov.in" class="">dokh[dot]rfd[at]maharashtra[dot]gov[dot]in</a>
                </span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-details">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4 offset-8" id="price">
              <select class="form-select form-control" aria-label="">
                <option selected>Select District</option>
                <option value="1">Ahmednagar</option>
                <option value="2">Pune</option>
                <option value="3">Nashik</option>
              </select>
            </div>
          </div>
          <div class="contact-map">

          </div>
        </div>
        <div class="col-md-5">
          <div class="form-heading text-lg-start text-center ">
            <span id="lblDistrictName" class="fw-bold">District</span> -
            <span>
              <label class="isEngLangSelected" id="DistrictName">AHMEDNAGAR</label>
            </span>
            <div class="card-deck bindContact mt-3">
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Dr. Rajendra B. Bhosale</h6>
                  <p class="mb-2 text-secondary  small" id="lblnkDesi">Collector</p>
                  <p class="mb-1"><i class="fas fa-phone-alt "></i> <a href="" class="">9833021955, 0241-2345001</a></p>
                  <p class="d-flex align-items-center  mb-0">
                    <i class="fas fa-envelope "></i>
                    <span class="text-break">
                      <a href="mailto:collector.ahmednagar@maharashtra.gov.in">
                        collector[dot]ahmednagar[at]maharashtra[dot]gov[dot]in</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Piraji Sormare</h6>
                  <p class="mb-2 text-secondary  small" id="lblnkDesi">Additional Collector</p>
                  <p class=" mb-1"><i class="fas fa-phone-alt "></i> <a href="" class="">02412-32629</a>6</p>
                  <p class="d-flex align-items-center  mb-0">
                    <i class="fas fa-envelope "></i>
                    <span class="text-break">
                      <a href="mailto:addcoll.ahmednagar@gmail.com"> addcoll[dot]ahmednagar[at]gmail[dot]com</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="card rounded mb-4">
                <div class="card-body">
                  <h6 class="fw-bold" id="lblnkName">Mr. Wasim Sayyad</h6>
                  <p class="mb-2 text-secondary  small" id="lblnkDesi">District Mining Officer</p>
                  <p class=" mb-1"><i class="fas fa-phone-alt "></i><a href="" class="">9765892002</a> </p>
                  <p class="d-flex align-items-center  mb-0">
                    <i class="fas fa-envelope"></i>
                    <span class="text-break">
                      <a href="mailto:ah.mngdmo@gmail.com"> ah[dot]mngdmo[at]gmail[dot]com </a>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
