#footer {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    font-size: 12px;
    padding: 10px;
    vertical-align: middle;
    /*margin-top: 1.4375em;*/
    line-height: 30px;
    /*position: fixed;*/
    width: 100%;
    /* bottom: 0;
    left: 0;
    position: absolute; */
    right: 0;
    /*z-index: 9;*/
    z-index: 0;
}

#footer img {
    width: 65px;
}

#footer .footerlogo {
    width: 100px;
}

#footer .vcount {
    line-height: 28px;
}

#footer a {
    color: var(--link-color);
    font-weight: 500;
}

@media only screen and (max-width: 575px) {
    #footer {
        /*position: relative;*/
        width: auto;
    }
    #footer .w3cimg {
        width: 50px;
    }
}