<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" id="footer">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5 order-0 order-lg-0">
                                <div class="text-center text-lg-start">
                                    <span>© 2021 mahakhanij, All rights Reserved.</span>
                                    <img src="https://www.w3.org/Icons/valid-html401-blue" alt="W3C HTML" class="w3cimg">
                                    <img src="https://www.w3.org/Icons/valid-css-blue" alt="W3C CSS" class="w3cimg">
                                </div>
                            </div>
                            <div class="col-sm-2 order-2 order-lg-1">
                                <div class="text-center vcount">
                                    Visitor No. 3511256
                                </div>
                            </div>
                            <div class="col-sm-5 order-1 order-lg-2">
                                <div class="text-center text-lg-end">
                                    <span>
                                        Powered by - <a href="http://shauryatechnosoft.com/" target="_blank">Shaurya Technosoft Pvt. Ltd.</a>
                                        <img src="/assets/images/OuterImages/ShauryaTechnosoftLogoSmall.png" alt="Shaurya Technosoft Logo" class="footerlogo">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>