#topbar
{
    font-size: 0.75rem;
    padding:5px 0;
}
#topbar .toplink
{
    border-right: solid 1px #aaa;
}
#topbar .toplink a{
    color:#333;
    text-decoration: none;
    line-height: 20px;
}
#topbar .toplink a:hover{
    color:var(--main-color);
}
#topbar .btn-clr
{
    margin: 0 1px;
    border: none;
    border-radius: 3px;
    padding: 8px;
    display: inline-flex;
    margin-bottom: -3px;
    margin-left: 5px;
}
.ori {
    background-color: var(--theme-o-color);
}
.maroon {
    background-color: var(--theme-maroon-color);
}
.dark {
    background-color: var(--theme-dark-color);
}
#topbar .btn-font{
    margin:1px;
    border: solid 1px #aaa;
    border-radius: 3px;
    background-color:#eee;
    text-align: center;
    padding:0px 5px;
    font-size: 0.7rem;
}
#topbar select{
    border: none;
    padding: 2px;
    outline: none;
    box-shadow: none;
}
.navbar .navbar-brand{
    color: var(--main-color);
}
.logo {
    width: 200px;
    padding-right: 15px;
    margin-right: 10px;
    border-right: solid 2px #888;
}
.navbar{
    box-shadow: 0px 2px 3px #e7e7e7;
    padding-top: 0;
}
.navbar .dropdown-menu {
    font-size: 0.85rem;
    padding:0;
}
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .login,
.navbar .login:hover {
    background-color: var(--main-color) !important;
    color: #fff !important;
    border-radius: 3px;
}
.navbar .nav-link {
    margin-left: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: 500;
}
.navbar .nav-link:hover {
    background-color: #eee;
    color: var(--main-color);
}
.navbar .navbar-toggler {
    box-shadow: none;
    font-size: 0.85rem;
    padding: 5px 6px;
}
@media (max-width: 1199.98px) {
    .navbar .nav-link {
        margin-left: 3px;
    padding: 5px 10px;
    }
}
@media (max-width: 991.98px) { 
    .navbar-nav{
        display: inline-block;
    }
    li.nav-item {
        display: inline-block;
        width: auto;
    }
    .navbar-nav .dropdown-menu{
        position: absolute;
        margin-top: -2px;
    }
}
@media (max-width: 767.98px) {
    li.nav-item {
        display: inline-block;
        width: 120px;
    }
}
@media (max-width: 575.98px) {

}
@media (max-width: 399px) { 
    .logo {
        width: 170px;
    padding-right: 5px;
    margin-right: 5px;
    }
    .navbar .navbar-brand{
        font-size: 1.1rem;
        margin-right: 0;
    }
    .navbar .navbar-toggler {
        font-size: 0.75rem;
    padding: 3px 4px;
    }
    li.nav-item {
        display: block;
    }
}
