<div class="container-fluid" id="topbar">
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <span class="pe-3 toplink">
                    <a routerLink="screen-reader-access">Screen Reader Access</a>
                </span>
                <span class="px-3 toplink">
                    <a routerLink="#">Skip To Main Content</a>
                </span>
            </div>
            <div class="col-sm-6 text-end">
                <div class="row">
                    <div class="px-3 col-sm">
                        <span>Color :</span>
                        <button type="button" class="btn-clr ori"></button>
                        <button type="button" class="btn-clr maroon"></button>
                        <button type="button" class="btn-clr dark"></button>
                    </div>
                    <div class="px-3 col-sm-auto">
                        <span class="me-2">Font Size :</span>
                        <button type="button" class="btn-font">A+</button>
                        <button type="button" class="btn-font">A</button>
                        <button type="button" class="btn-font">A-</button>
                    </div>
                    <div class="ps-3 col-sm-auto">
                        <span>Language :</span>
                        <select>
                            <option>English</option>
                            <option>Marathi</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/images/OuterImages/RevenueDeptLogo.png" class="logo">
            mahakhanij
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutdropdown">
                        <li><a class="dropdown-item" routerLink="system-overview">System Overview</a></li>
                        <li><a class="dropdown-item" routerLink="about-minerals">Minerals</a></li>
                        <li><a class="dropdown-item" routerLink="district-mineral-foundation">DMF</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Applicationdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Application
                </a>
                    <ul class="dropdown-menu" aria-labelledby="Applicationdropdown">
                        <li><a class="dropdown-item" routerLink="interstate-mineral-transport">Interstate Mineral Transport</a></li>
                        <li><a class="dropdown-item" routerLink="temporary-proposal">Temporary Proposal</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="eauctiondropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  e-Auction
                </a>
                    <ul class="dropdown-menu" aria-labelledby="eauctiondropdown">
                        <li><a class="dropdown-item" routerLink="notice">Notice</a></li>
                        <li><a class="dropdown-item" routerLink="#">How To Participate</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Policydropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Policy
                </a>
                    <ul class="dropdown-menu" aria-labelledby="Policydropdown">
                        <li><a class="dropdown-item" routerLink="government-resolution">Government Resolution</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Helpdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Help
                </a>
                    <ul class="dropdown-menu" aria-labelledby="Helpdropdown">
                        <li><a class="dropdown-item" routerLink="#">Grievance</a></li>
                        <li><a class="dropdown-item" routerLink="faq">FAQ</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link login" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>