<header>
    <div class="container">
        <div class="row justify-content-end g-0">
            <div class="col-auto">
                <div class="top-link">
                    <a routerLink="#">Screen Reader Access</a>
                </div>
            </div>
            <div class="col-auto">
                <div class="top-link">
                    <a routerLink="#">Skip To Main Content</a>
                </div>
            </div>
            <div class="col-auto">
                <div class="top-link">
                    <div class="input-group">
                        <span class="input-group-text">Color :</span>
                        <button type="button" class="btn-clr ori"></button>
                        <button type="button" class="btn-clr maroon"></button>
                        <button type="button" class="btn-clr dark"></button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="top-link">
                    Font Size :
                    <button type="button" class="btn-font">A+</button>
                    <button type="button" class="btn-font">A</button>
                    <button type="button" class="btn-font">A-</button>
                </div>
            </div>
            <div class="col-auto">
                <div class="top-link">
                    Language :
                    <select>
                    <option>English</option>
                    <option>Marathi</option>
                </select>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/OuterImages/RevenueDeptLogo.png" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="aboutdropdown">
                            <li><a class="dropdown-item" routerLink="system-overview">System Overview</a></li>
                            <li><a class="dropdown-item" routerLink="about-minerals">Minerals</a></li>
                            <li><a class="dropdown-item" routerLink="district-mineral-foundation">DMF</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="Applicationdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Application
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="Applicationdropdown">
                            <li><a class="dropdown-item" routerLink="interstate-mineral-transport">Interstate Mineral Transport</a></li>
                            <li><a class="dropdown-item" routerLink="temporary-proposal">Temporary Proposal</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="eauctiondropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      e-Auction
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="eauctiondropdown">
                            <li><a class="dropdown-item" routerLink="notice">Notice</a></li>
                            <li><a class="dropdown-item" routerLink="#">How To Participate</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="Policydropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Policy
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="Policydropdown">
                            <li><a class="dropdown-item" routerLink="government-resolution">Government Resolution</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="Helpdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Help
                    </a>
                        <ul class="dropdown-menu" aria-labelledby="Helpdropdown">
                            <li><a class="dropdown-item" routerLink="#">Grievance</a></li>
                            <li><a class="dropdown-item" routerLink="faq">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container px-0">
            <a class="navbar-brand">
                <img src="assets/images/OuterImages/RevenueDeptLogo.png" class="logo">
            </a>
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="aboutdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          About
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="aboutdropdown">
                                <li><a class="dropdown-item" href="#">System Overview</a></li>
                                <li><a class="dropdown-item" href="#">Minerals</a></li>
                                <li><a class="dropdown-item" href="#">DMF</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="Applicationdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Application
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="Applicationdropdown">
                                <li><a class="dropdown-item" href="#">Interstate Mineral Transport</a></li>
                                <li><a class="dropdown-item" href="#">Temporary Proposal</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="eauctiondropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          e-Auction
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="eauctiondropdown">
                                <li><a class="dropdown-item" href="#">Notice</a></li>
                                <li><a class="dropdown-item" href="#">How To Participate</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="Policydropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Policy
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="Policydropdown">
                                <li><a class="dropdown-item" href="#">Government Resolution</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="Helpdropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Help
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="Helpdropdown">
                                <li><a class="dropdown-item" href="#">Grievance</a></li>
                                <li><a class="dropdown-item" href="#">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login" href="#">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> -->
</header>