<div class="row">
  <div class="col-sm-12" id="page-heading">
    <div class="card mb-3">
      <img src="../../../../assets/images/mining.jpg" class="card-img" alt="Notice" />
      <div class="card-img-overlay">
        <div>
          <h2>Notice</h2>
          <div aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">e-Auction</a></li>
              <li class="breadcrumb-item active" aria-current="page">Notice</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" id="content-wrapper">
  <div class="col-lg-9 mb-5">
    
    <div class="row">
      <div class="col-md-12" id="price">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr class="table-top">
              <th colspan="7">
                <div class="row">
                  <div class="col">
                    <select class="form-control">
                      <option selected="selected" value="" id="ddlSelectDistrict">District</option>
                      <option>Satara</option>
                    </select>
                  </div>
                  <div class="col">
                    <input type="text" id="txtSearch" placeholder="Search" class="form-control" />
                  </div>
                  <div class="col-auto">
                    <button type="button" id="btnSearch" class="btn btn-sm btn-secondary">
                      <i class="fas fa-search me-2"></i>
                      <span id="spnbtnSearch" class="">Search</span>
                    </button>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th id="lbltblSrNo">Sr.No</th>
              <th id="lbltblDistrict">District</th>
              <th id="lbltblEventID">Event ID</th>
              <th id="lbltblTitle">Title</th>
              <th id="lbltblDescription">Description</th>
              <th id="lbltblDate">Date</th>
              <th id="lbltblDownload">Download</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td class="clickable-column">Satara</td>
              <td class="clickable-column">TN-123643</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">Bidding Manual - CGM Auction Portal</td>
              <td class="clickable-column">01/10/2020</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 me-1"><i
                    class="fas fa-eye"></i></button>
                <button type="button" class="btn btn-sm btn-secondary py-0 px-1 "><i
                    class="fas fa-download"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>

            <tr>
              <td colspan="7">
                
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item">
                      <a class="page-link" routerLink="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link " routerLink="#">1</a></li>
                    <li class="page-item"><a class="page-link" routerLink="#">2</a></li>
                    <li class="page-item"><a class="page-link" routerLink="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" routerLink="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="card rounded-0" id="content-wrapper-sidebar"> 
      <div class="card-header rounded-0 text-uppercase">
        e-Auction
      </div>
      <ul class="nav nav-list flex-column">
        <li class="nav-item border-bottom">
          <a routerLink="/notice" class="nav-link active" id="rgtlnkNotice">Notice</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link" id="rgtlnkHowToParticipate">How To Participate</a>
        </li>
      </ul>
    </div>
  </div>
</div>