<div id="buttonbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <a class="navbar-brand">
                    Masters > User Registration
                </a>
            </div>
            <div class="col-sm-8 text-end">
                <button class="btn btn-info me-2" type="button"><i class="far fa-edit me-2"></i>Edit</button>
                <button class="btn btn-secondary me-2" type="button"><i class="fas fa-times me-2"></i>Clear</button>
                <button class="btn btn-main" type="button"><i class="fas fa-upload me-2"></i>Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header filterbox">
                    <div class="row g-2">
                        <div class="col-sm-3">
                            <select class="form-select">
                                <option value="">Select State</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-select">
                                <option value="">Select Division</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-select">
                                <option value="">Select District</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-select">
                                <option value="">Select Taluka</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">All</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Revenue Dept</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <label class="form-check-label" for="inlineRadio3">Lessee/Lease Supervisor</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Name/Mobile No.">
                        </div>
                        <div class="col-sm-3 text-end">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="rdOpen" id="rdOpen" value="Open">
                                <label class="form-check-label" for="rdOpen">Open</label>
                            </div>
                            <button class="btn btn-secondary" type="button" id="btnApply">
                                <i class="fas fa-search me-2"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    asdf
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body">
                asdf
            </div>
        </div>
    </div>
</div>