<div class="navbar navbar-light" id="buttonbar">
    <div class="container-fluid p-0">
        <a class="navbar-brand">
            Dashboard
        </a>

        <div class="d-flex">
            <span class="navbar-text me-2 small">
                13-Jun-2021 to 15-Jun-2021
              </span>
            <button class="btn" type="submit">
                Filter <i class="ms-2 fas fa-sort"></i>
            </button>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row g-2" id="dash-stats">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Revenue <small>(Amt.)</small>
                    <img src="/assets/images/InnerImages/Methodwise.svg" class="alert-icon">
                </div>
                <div class="card-body p-2">
                    <div class="row row-cols-1 row-cols-md-2 g-0">
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123.123L</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Permanent Lease</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123.123L</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Temporary Lease</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123.123L</h5>
                                </div>
                                <div class="card-footer">
                                    <small>e-Auction</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123.123L</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Fine</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Registered Mines
                    <img src="/assets/images/InnerImages/RegisteredMines.svg" class="alert-icon">
                </div>
                <div class="card-body p-2">
                    <div class="row g-0">
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Sand</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Stone</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Other</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card h-100">
                <div class="card-header">
                    Vehicles
                    <img src="/assets/images/InnerImages/Vehicles.svg" class="alert-icon">
                </div>
                <div class="card-body p-2">
                    <div class="row g-0">
                        <div class="col-sm-12">
                            <a href="#" class="card text-start">
                                <div class="card-body">
                                    <h5>121233</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Registered</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-12">
                            <a href="#" class="card text-end">
                                <div class="card-body">
                                    <h5>122343</h5>
                                </div>
                                <div class="card-footer">
                                    <small>With GPS</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    eAuctions <small>(Nos.)</small>
                    <img src="/assets/images/InnerImages/eAuctions.svg" class="alert-icon">
                </div>
                <div class="card-body p-2">
                    <div class="row row-cols-1 row-cols-md-2 g-0">
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>12</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Pending Proposals</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>On-Going</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>12</h5>
                                </div>
                                <div class="card-footer">
                                    <small>On-Hold</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>12</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Completed</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Secondary Units
                    <img src="/assets/images/InnerImages/SecondaryUnits.svg" class="alert-icon">
                </div>
                <div class="card-body p-2">
                    <div class="row g-0">
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Trader</small>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>12</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Crusher</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a href="#" class="card">
                                <div class="card-body">
                                    <h5>123</h5>
                                </div>
                                <div class="card-footer">
                                    <small>Processing Unit</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 gx-2">
        <div class="col-sm-6" id="mahamap">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn me-2"><i class="fas fa-arrow-left"></i></button>
                    <button type="button" class="btn"><i class="fas fa-home"></i></button>
                    <span class="float-end">
                        Mineral-wise Lifting (Brass)
                        <button type="button" class="btn"><i class="fas fa-expand"></i></button>
                    </span>
                </div>
                <div class="card-body px-2">
                    <div class="row g-0">
                        <div class="col-sm-9">
                            <img src="/assets/images/OuterImages/maharashtra-bg_o.svg" class="img-fluid">
                        </div>
                        <div class="col-sm-3">
                            <div class="card card-body p-2" id="filters">
                                <div class="mb-2">
                                    <select class="form-select">
                                        <option>Mineral</option>
                                        <option>Sand</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="mb-2">
                                    <input class="form-control" type="text" placeholder="From Date" />
                                    <div class="text-center">To</div>
                                    <input class="form-control" type="text" placeholder="To Date" />
                                </div>
                                <button class="btn" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="rightbox">
            <div class="card mb-2">
                <div class="card-header">
                    Today's Alerts
                </div>
                <div class="card-body p-2">
                    <div class="row g-2">
                        <div class="col-sm-6">
                            <div class="card alertbox">
                                <div class="card-header">Illegal Plots Activities</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">Allocated Plots <small>(By GPS)</small></div>
                                                    <div class="text-end al-data">2342</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">Un-Allocated Plots <small>(By GPS)</small></div>
                                                    <div class="text-end al-data">234</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">Citizen Complaints</div>
                                                    <div class="text-end al-data">234</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card alertbox">
                                <div class="card-header">Intercepted Vehicles</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card alertbox">
                                <div class="card-header">Moving Illegal Vehicles</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card h-100 alertbox">
                                <div class="card-header">Trips</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <a href="#" class="alerts">
                                                <div class="d-flex justify-content-between">
                                                    <div class="al-label">asdfd</div>
                                                    <div class="text-end al-data">asdfd</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-group" id="dashcharts">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn me-2"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn"><i class="fas fa-home"></i></button>
                        <span class="float-end">
                            Mineral-wise Lifting (Brass)
                        </span>
                    </div>
                    <div class="card-body">
                        <img src="#" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn me-2"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn"><i class="fas fa-home"></i></button>
                        <span class="float-end">
                            Mineral-wise Lifting (Brass)
                        </span>
                    </div>
                    <div class="card-body">
                        <img src="#" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>