<div class="container-fluid">
    <div class="row" id="topbarbtn">
        <div class="navbar navbar-light bg-white">
            <a class="navbar-brand">
                Dashboard 
            </a>
            <div class="d-flex">
                <span class="navbar-text text-muted small me-3">06-Jun-2021 to 07-Jun-2021</span>
                <button class="btn btn-main" type="button"><i class="fas fa-filter me-2"></i> Filter</button>
            </div>
        </div>
    </div>

    <div class="row" id="content-wrapper">
        <div class="col-sm-9">
            asdf
        </div>
        <div class="col-sm-3" id="todayalerts">
            <div class="card">
                <div class="card-header">Today's Alerts</div>
                <div class="card-body">
                    <div class="alertbox">
                        <span class="card-title">Illegal Plots Activities</span>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/Allocated.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Allocated Plot <small>By GPS</small></h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/Un-allocated.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Un-Allocated Plot <small>By GPS</small></h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/Citizen.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Citizen Complaints</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                    </div>
                    <div class="alertbox">
                        <span class="card-title">Intercepted Vehicles</span>
                        <div class="d-flex mb-2">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>With GPS</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex mb-2">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithoutGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Without GPS</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/Citizen.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Citizen Complaints</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                    </div>
                    <div class="alertbox">
                        <span class="card-title">Moving Illegal Vehicles</span>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Moving With Vehicles</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/Citizen.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Citizen Complaints</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                    </div>
                    <div class="alertbox border-bottom-0">
                        <span class="card-title">Trips</span>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Total</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>With GPS</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img src="/assets/images/InnerImages/WithoutGPS.svg" alt="Allocated Plot" class="alertimage">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6>Without GPS</h6>
                            </div>
                            <div class="flex-grow-1 ms-3 text-end">
                                <span class="alertcount">1235</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>