#todayalerts {
    margin-bottom: 15px;
}

#todayalerts .card {
    border: none;
}

#todayalerts .card-header {
    background-color: transparent;
    font-size: 1.1rem;
    color: var(--main-color);
    border-bottom: none;
    font-weight: 600;
    margin-bottom: 10px;
}

#todayalerts .card-body {
    padding-top: 0;
    padding-bottom: 10px;
}

#todayalerts .alertbox {
    margin-bottom: 10px;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
}

#todayalerts .alertbox a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    transition: all 1s;
}

#todayalerts .alertbox a:hover {
    background: var(--main-color);
    color: #fff;
    border-radius: 3px;
    transition: all 1s;
}

#todayalerts .alertbox a:hover img {
    background-color: #fff;
    transition: all 1s;
}

#todayalerts .alertbox .card-title {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

#todayalerts .alertbox .alertimage {
    background-color: #eee;
    padding: 10px;
    border-radius: 3px;
    /* margin-top: -8px; */
    width: 36px;
    height: 36px;
}

#todayalerts .alertbox h6 {
    margin-bottom: 0px;
    font-size: 0.8rem;
    line-height: 36px;
}

#todayalerts .alertbox small {
    font-size: 0.75rem;
    color: #aaa;
}

#todayalerts .alertbox .alertcount {
    font-weight: 600;
    color: var(--orange-color);
    font-size: 0.9rem;
    line-height: 36px;
}

#logoutbar .navbar-brand {
    font-size: 0.95rem;
    color: #888;
}

#dash-charts .card {
    border: none;
}

#dash-charts .input-group * {
    font-size: 0.8rem;
}

#dash-charts .card-header,
#dash-charts .card-header .input-group-text {
    border: none;
    background-color: #fff;
    font-size: 0.85rem;
    font-weight: 600;
}

#dash-charts .card-header .form-control,
#dash-charts .card-header .form-select {
    box-shadow: none;
    margin: 0 2px;
}

#dash-charts .btn {
    box-shadow: none;
}

#dash-stats img {
    background-color: var(--main-color);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 42px;
    height: 42px;
}

#dash-stats h6.card-title {
    color: var(--main-color);
}

#dash-stats a h6 {
    color: var(--link-color);
    margin-bottom: 0;
}

#dash-stats .card {
    border: none;
    border-bottom: solid 2px #eee;
    border-radius: 0;
}

#dash-stats .card-body {
    padding: 10px;
}

#dash-stats a {
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

#dash-stats a:hover {
    background-color: #fafafa;
}

#dash-stats a small {
    color: #888;
    font-size: 0.75rem;
    display: block;
    margin-bottom: 5px;
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
    border: 0;
}

.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}

.modal-dialog-slideout .modal-header h5 {
    float: left;
}