<div class="top-image mb-4">
  <img src="../../../../assets/images/systemoverview.png" class="img-fluid" alt="System Overview Banner" />
</div>
<div class="row" id="sys-overview">
  <div class="col-lg-9 mb-5">
    <div class="content-head" id="lblsysoverHeading">
      <h4 class="mb-3 fw-normal">System <strong class="fw-bold"> Overview</strong> </h4>
    </div>
    <div class="sect-head" id="lblsoverSubHead1">
      <h6 class="fw-bold">1. Project Overview</h6>
    </div>
    <p id="lblsoverPara1">The Revenue Department of the Government of Maharashtra had been endeavouring to set up a
      monitoring system in the State for various revenue sources of the Department. It was pertinent not only for
      revenue growth but also for improving the service
      delivery and attaining the development goals of the Department. This initiative aids the Department in making a
      reasonable advancement in terms of maintaining a database related to minerals, registered agencies, lease period,
      renewals, tracking
      and monitoring the movement of minerals, payment processes, recovery procedures, and so on.</p>

    <div class="accordion theme-accordion" id="Overview1">
      <div class="accordion-item">
        <h2 class="accordion-header" id="Background">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#BackgroundOne"
            aria-expanded="true" aria-controls="BackgroundOne">
            1.1 Background
          </button>
        </h2>
        <div id="BackgroundOne" class="accordion-collapse collapse show" aria-labelledby="Background"
          data-bs-parent="#Overview1">
          <div class="accordion-body">
            <p id="lblBackgroundData1">For decades, the processes were handled manually which resulted in delay in
              monitoring and reporting. In addition, there was no system for end-to-end tracking of minor minerals from
              quarry till the destination. Therefore, it was
              tough for the Department to keep track of the actual quantity of minerals excavated. </p>
            <p id="lblBackgroundData2">Owing to aforementioned issues, Revenue Department took the step to deploy
              integrated IT enabled process for monitoring all Minor Minerals in the state of Maharashtra such as
              Limestone and Lime Shell, Laterite Stone, Murum, Chalcedony
              Pebbles, Ordinary Sand, Mangalore Tile Clay, Soil, Slate and Shale, Brick Clay, Bentonite, Decorative
              Stones, Agate, Corundum, Dolomite, Feldspar, Fireclay, Laterite, Mica, Pyrophyllite, Quartz, Quartzite,
              Shale, Silica Sand,
              and China Clay.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="SolutionforDuplicate">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#SolutionforDuplicateTwo" aria-expanded="false" aria-controls="SolutionforDuplicateTwo">
            1.2 Solution for Duplicate Transport Permit
          </button>
        </h2>
        <div id="SolutionforDuplicateTwo" class="accordion-collapse collapse" aria-labelledby="SolutionforDuplicate"
          data-bs-parent="#Overview1">
          <div class="accordion-body">
            <p class="font-weight-bold" id="lblSolutionforDuplicatePara1">Security features of transport permit are
              introduced to avoid illegal activities as</p>
            <div class="row">
              <div class="col-md-7">
                <p id="lblSolutionforDuplicatePara2"><span class="fw-bold">1.2.1 -</span> Unique Barcode</p>
                <p id="lblSolutionforDuplicatePara3"><span class="fw-bold">1.2.2 -</span> Unique QR code</p>
                <p id="lblSolutionforDuplicatePara4"><span class="fw-bold">1.2.3 -</span> Invisible ink mark &ndash; only visible in UV light</p>
                <p id="lblSolutionforDuplicatePara5"><span class="fw-bold">1.2.4 -</span> Fugitive ink background</p>
                <p id="lblSolutionforDuplicatePara6"><span class="fw-bold">1.2.5 -</span> Revenue Department Watermark</p>
                <p id="lblSolutionforDuplicatePara7"><span class="fw-bold">1.2.6 -</span> VOID Pantograph &ndash; if photocopied, shows VOID mark
                </p>
                <p id="lblSolutionforDuplicatePara8"><span class="fw-bold">1.2.7 -</span> Printed on IBA approved MICR paper.</p>
              </div>
              <div class="col-md-5 text-right">
                <div class="position-relative">
                  <a href="#" data-title="Duplicate Transport Permit" class="img-thumbnail" data-bs-toggle="modal"
                    data-bs-target="#ImgZoomModal">
                    <img src="../../../../assets/images/SystemOverview/SolutionforDuplicateTransportPermit.png"
                      alt="Duplicate TransportPermit" class="img-fluid rounded w-50" />
                    <div class="caption">
                      Click to Zoom
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="sect-head" id="lblsoverSubHead2">
      <h6 class="fw-bold">2. System Overview</h6>
    </div>
    <p id="lblsoverPara2">mahakhanij system is a web-based solution having interface with Android and iOS applications.
      Entire data of mining activity is stored in a central cloud server and is available to all stakeholders across the
      state.</p>
    <p id="lblsoverPara3">The mahakhanij System is having below modules:</p>
    <ul class="theme-ul">
      <li id="lblsoverList1">e-Tendering and e-Auction of Plots/Quarries</li>
      <li id="lblsoverList2">Demand Note Generation, Payment Collections and Reconciliation</li>
      <li id="lblsoverList3">Master Entity Registration and Allotment</li>
      <li id="lblsoverList4">e-TP Generation module</li>
      <li id="lblsoverList5">Monitoring</li>
      <li id="lblsoverList6">Mineral Vehicle Tracking System</li>
      <li id="lblsoverList7">Analysis and Reports</li>
    </ul>


    <div class="accordion theme-accordion" id="Overview2">
      <div class="accordion-item">
        <h2 class="accordion-header" id="module1">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#module1One"
            aria-expanded="true" aria-controls="module1One">
            2.1 Module I – e-Tendering and e-Auction of Plots/Quarries
          </button>
        </h2>
        <div id="module1One" class="accordion-collapse collapse show" aria-labelledby="module1"
          data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule1List1">Facility to load proposals with estimated values in terms of quantity and money
                value of foreseen plot across state</li>
              <li id="lblModule1List2">Approvals of proposals and Packaging for tendering can be done</li>
              <li id="lblModule1List3">Publishing auction dates and real time auctioning in secured environment will be
                done</li>
              <li id="lblModule1List4">Collection of tender fees, registration fees and EMD are processed</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module2Two" aria-expanded="false" aria-controls="module2Two">
            2.2 Module-II – Demand Note Generation, Payment Collections and Reconciliation
          </button>
        </h2>
        <div id="module2Two" class="accordion-collapse collapse" aria-labelledby="module2" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule2List1">Bid winner / Lessee will get login credentials of mahakhanij Portal</li>
              <li id="lblModule2List2">Lessee will get access to demand note in which he will be able to see Royalty,
                DMF, TCS, GST, Surface Rent, various other local body taxes and SI charges.</li>
              <li id="lblModule2List3">Lessee is allowed to pay against the quantity for Royalty payment (mahakhanij and
                GRAS integration) and other payment (DMF and other payments collection).</li>
              <li id="lblModule2List4">In case of existing quarries, lessee is allowed to pay for additional quantity
                approved after assessment of the quarry by authorities.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module3Two" aria-expanded="false" aria-controls="module3Two">
            2.3 Module III – Master Entity Registration and Allotment
          </button>
        </h2>
        <div id="module3Two" class="accordion-collapse collapse" aria-labelledby="module3" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule3List1">All Quarries / secondary units and their lease holders are registered on
                mahakhanij portal and stored on the GCC.</li>
              <li id="lblModule3List2">Geo-fencing of all the Quarries / secondary units will be done.</li>
              <li id="lblModule3List3">Order registration is done after e-auctioning process. The details of mineral
                allocated quantity, order validity and order number are registered.</li>
              <li id="lblModule3List4">Issue of eTPs (Receipts) equivalent to allocated quantity to each lease holder.
                These TPs are bar-coded and their barcodes gets registered on server in the name of particular Quarries
                / secondary units before issuing to any
                lease holder.</li>
              <li id="lblModule3List5">Lease holder can create supervisors and assign each Quarries / secondary units
                for issuing of eTPs to vehicles.</li>
              <li id="lblModule3List6">Registered supervisors are provided with mobile application (android/iOS),
                through which he can generate the e-TP.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module4Two" aria-expanded="false" aria-controls="module4Two">
            2.4 Module IV – e-TP Generation Module
          </button>
        </h2>
        <div id="module4Two" class="accordion-collapse collapse" aria-labelledby="module4" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <p id="lblModule4Para">All mineral transporting vehicles must be registered on mahakhanij platform for
              generation of e-TP. </p>
            <ul class="theme-ul ul-sm">
              <li id="lblModule4List1">Vehicle is loaded with minerals and details like vehicle no., source &amp;
                destination, quarry name, mineral, quantity are entered on eTP App form, scanned barcode on physical TP
                and passed this TP data on server.</li>
              <li id="lblModule4List2">On server passed data is validated and generates an unique e-TP number.</li>
              <li id="lblModule4List3">The validity period based on the distance between source and destination is
                calculated and displayed on mobile app.</li>
              <li id="lblModule4List4">This validity time and eTP no. will be written on physical TP by supervisor.</li>
              <li id="lblModule4List5">This physical paper based TP shall be handed over to vehicle driver which shall
                be produced as and when any officer intercept vehicle and ask for the same.</li>
              <li><span id="lblModule4List6">Lease holders / supervisors can generate e-TP by the three different ways,
                  using,</span>
                <ol class="home-list">
                  <li id="lblModule4List7">Web-Portal</li>
                  <li id="lblModule4List8">Mobile Application</li>
                  <li id="lblModule4List9">SMS</li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module5Two" aria-expanded="false" aria-controls="module5Two">
            2.5 Module V – Monitoring
          </button>
        </h2>
        <div id="module5Two" class="accordion-collapse collapse" aria-labelledby="module5" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule5List1">Monitoring is done by Revenue, Police and RTO Staff. All these departments govern
                illegal mineral movement through the Rules and Regulations and laws concerning their department. The
                Department officer are provided with Mobile
                application (android and iOS), which have access to mahakhanij Portal based on his area of authority.
                This app have user levels like State, Division, District and Tehsil levels.</li>
              <li id="lblModule5List2">Mobile application (android and iOS) can track reports about daily lifting,
                monitoring performance, illegal vehicles found, fine details etc.</li>
              <li id="lblModule5List3">Whenever any officer intercepts any Mineral transporting vehicle, he can check
                its validity by scanning the barcode on the receipt, by entering e-TP Number or just by entering vehicle
                number in the Mobile (Android/iOS) application.</li>
              <li id="lblModule5List4">Officer gets all details of Mineral transporting vehicle on his mobile
                application. Vehicle intercepted location, details of officer with GPS location gets captured on server.
              </li>
              <li id="lblModule5List5">GIS mapping and drone surveillance add new edge to monitoring.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module6Two" aria-expanded="false" aria-controls="module6Two">
            2.6 Module VI – Mineral Vehicle Tracking System
          </button>
        </h2>
        <div id="module6Two" class="accordion-collapse collapse" aria-labelledby="module6" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule6List1">Vehicle Tracking System (VTS) for Monitoring and Surveillance of Mineral
                Transport vehicle is created</li>
              <li id="lblModule6List2">Live tracking and movement of registered (in mahakhanij portal) vehicles
                transporting minerals in the State of Maharashtra from source to destination as per e-TP.</li>
              <li id="lblModule6List3">Tracking of mineral transporting vehicles to prevent activities like route
                deviation, illegal mining by tracking real time as well as historic vehicle location data.</li>
              <li id="lblModule6List4">Ensuring that the mineral is offloaded / delivered at the designated
                purchaser&rsquo;s location and as per the destination given in e-TP.</li>
              <li id="lblModule6List5">Increased transparency in mining and its logistics activities.</li>
              <li id="lblModule6List6">Ease of investigation in matters illegal utilization of vehicles, dumping of
                mineral at non-designated locations, tracking of route etc.</li>
              <li id="lblModule6List7">Vehicle carrying valid e-TP will be displayed as Green, while path of vehicle
                with invalid TP displayed as Red and the path of vehicle which has unloaded sand will be seen in orange.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module7">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module7Two" aria-expanded="false" aria-controls="module7Two">
            2.7 Module VII – Analysis and reports
          </button>
        </h2>
        <div id="module7Two" class="accordion-collapse collapse" aria-labelledby="module7" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <ul class="theme-ul ul-sm">
              <li id="lblModule7List1">State wide mining monitoring personalized centralized information dashboard is
                created for real-time monitoring and show various performance indicators on an easy to navigate
                configurable &amp; customizable GUI. Real time alert
                generation of illegal activity can be tracked.</li>
              <li id="lblModule7List2">All reports gets generated such as Invalid vehicle report, Vehicle interception
                report, daily lifting report, officers performance reports etc.</li>
              <li id="lblModule7List3">All activities happening in the field can be tracked real-time through the
                mahakhanij Portal</li>
              <li id="lblModule7List4">There is different level of users, such as District Level user, Division level
                user and state level user. Each user can see reports as per his/her jurisdiction.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module8">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module8Two" aria-expanded="false" aria-controls="module8Two">
            2.8 Module VIII – e-Auctioning Process
          </button>
        </h2>
        <div id="module8Two" class="accordion-collapse collapse" aria-labelledby="module8" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <img src="../../../../assets/images/SystemOverview/E-auctioningProcess.svg" alt="E-Auctioning Process"
              class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module9">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module9Two" aria-expanded="false" aria-controls="module9Two">
            2.9 Module IX – Online Royalty Collection
          </button>
        </h2>
        <div id="module9Two" class="accordion-collapse collapse" aria-labelledby="module9" data-bs-parent="#Overview2">
          <div class="accordion-body">
            <img src="../../../../assets/images/SystemOverview/OnlineRoyaltyCollection.svg"
              alt="Online Royalty Collection" class="img-fluid w-100" />
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module10">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module10Two" aria-expanded="false" aria-controls="module10Two">
            2.10 Module X – e-TP Flow
          </button>
        </h2>
        <div id="module10Two" class="accordion-collapse collapse" aria-labelledby="module10"
          data-bs-parent="#Overview2">
          <div class="accordion-body">
            <img src="../../../../assets/images/SystemOverview/e-TPFlow.svg" alt="E-TP Flow" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="module11">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#module11Two" aria-expanded="false" aria-controls="module11Two">
            2.11 Module XI – Monitoring Flow
          </button>
        </h2>
        <div id="module11Two" class="accordion-collapse collapse" aria-labelledby="module11"
          data-bs-parent="#Overview2">
          <div class="accordion-body">
            <img src="../../../../assets/images/SystemOverview/MonitoringFlow.svg" alt="Monitoring Flow"
              class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="card" >
      <div class="card-header bg-primary text-light text-uppercase small">
        About
      </div>
      <ul class="nav nav-list flex-column">
        <li class="nav-item">
          <a routerLink="/system-overview" class="nav-link active" id="lblrtSysOverview">System Overview</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about-minerals" class="nav-link" id="lblrtMinerals">Minerals</a>
        </li>
        <li class="nav-item">
          <a routerLink="/district-mineral-foundation" class="nav-link" id="lblrtDMF">DMF</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="ImgZoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../../assets/images/SystemOverview/SolutionforDuplicateTransportPermit.png"
          alt="Duplicate TransportPermit" class="img-fluid rounded w-100" />
      </div>
    </div>
  </div>
</div>
