<div class="top-image mb-4">
    <img src="../../../../assets/images/mining.jpg" class="img-fluid" alt="System Overview Banner" />
  </div>
  <div class="row" id="sys-overview">
    <div class="col-lg-9 mb-5">
      <div class="content-head" id="lblsysoverHeading">
        <h4 class="mb-3">ABOUT MINERALS</h4>
      </div>
      
      <p id="lblMineralPara1">'Minor Minerals' means building stones, gravel, ordinary clay, ordinary sand, soil, murum. Other sand used for prescribed purposes, and any other mineral which the Central Government may, by notification in the Official Gazette, declare to be a minor mineral.</p>
      <p id="lblMineralPara2">'Major Minerals' are those specified in the first schedule appended in the Mines and Minerals (Development and Regulation) Act, 1957 (MMDR Act 1957) and the common major minerals are Lignite, Coal, Uranium, iron ore, gold etc. ... Hence, whatever is not declared as a “minor mineral” may be treated as the major mineral.. The 'Major Minerals' which are used and stored in large quantities in the body, are calcium, chloride, magnesium, phosphorus, potassium, sodium, and sulfur. The trace minerals are just as vital to our health as the major minerals, but we don't need large amounts.</p>
      
      <div id="about-gallery" class="mt-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#about" type="button" role="tab" aria-controls="pills-home" aria-selected="true">About Minerals</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-price-tab" data-bs-toggle="pill" data-bs-target="#price" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Minerals Royalty Rates</button>
            </li>
           
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="pills-about-tab">.about..</div>
            <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="pills-price-tab">price...</div>
          </div>






      
    </div>
      
  
  
      
    </div>
    <div class="col-lg-3 d-none d-md-none d-lg-block">
      <div class="card" style="width: 18rem;">
        <div class="card-header ">
          About
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-0">
            <a routerLink="/system-overview" class="list-group-item list-group-item-action " id="lblrtSysOverview">System Overview</a>
          </li>
          <li class="list-group-item p-0">
            <a routerLink="/about-minerals" class="list-group-item list-group-item-action active" id="lblrtMinerals">Minerals</a>
          </li>
          <li class="list-group-item p-0">
            <a routerLink="/district-mineral-foundation" class="list-group-item list-group-item-action" id="lblrtDMF">DMF</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  