<div class="top-image mb-4">
  <img src="../../../../assets/images/mining.jpg" class="img-fluid" alt="System Overview Banner" />
</div>
<div class="row" id="sys-overview">
  <div class="col-lg-9 mb-5">
    <div class="content-head" id="lblsysoverHeading">
      <h4 class="mb-3">ABOUT MINERALS</h4>
    </div>

    <p id="lblMineralPara1">'Minor Minerals' means building stones, gravel, ordinary clay, ordinary sand, soil, murum.
      Other sand used for prescribed purposes, and any other mineral which the Central Government may, by notification
      in the Official Gazette, declare to be a minor mineral.</p>
    <p id="lblMineralPara2">'Major Minerals' are those specified in the first schedule appended in the Mines and
      Minerals (Development and Regulation) Act, 1957 (MMDR Act 1957) and the common major minerals are Lignite, Coal,
      Uranium, iron ore, gold etc. ... Hence, whatever is not declared as a “minor mineral” may be treated as the major
      mineral.. The 'Major Minerals' which are used and stored in large quantities in the body, are calcium, chloride,
      magnesium, phosphorus, potassium, sodium, and sulfur. The trace minerals are just as vital to our health as the
      major minerals, but we don't need large amounts.</p>

    <div id="about-gallery" class="mt-2">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#about"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">About Minerals</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-price-tab" data-bs-toggle="pill" data-bs-target="#price" type="button"
            role="tab" aria-controls="pills-profile" aria-selected="false">Minerals Royalty Rates</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="pills-about-tab">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/OrdinarySand.jpg" alt="Ordinary Sand">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead1">Sand</h5>
              <p id="lblMinPara1">
                Sand is used to give strength, bulk and other properties to construction materials like asphalt and
                concrete. In landscaping, it is used as a decorative material. A particular type of sand is used for
                glass manufacturing. Likewise, it is used for metal casting as a moulding material.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/LateriteStone.jpg" alt="Laterite Stone">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead2">Laterite Stone</h5>
              <p id="lblMinPara2">
                Commonly used for building purpose, Laterite or lateritic soil is regarded as one of the best natural
                materials to be used in compressed earth bricks. The reason is that a well-graded soil combines both
                cohesive (silt and clay) and the cohesionless (sands and gravels) parts of a soil.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Murum.jpg" alt="Murum ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead3">Murum</h5>
              <p id="lblMinPara3">
                It is a mixture of minerals, organic matters, gravels, rock particles etc. Murum is used in plinth
                filling, road pavements, backfilling in trenches, footing pits, etc. Given that it doesn’t contain any
                organic matters and can be compacted easily forming hard surfaces, it is a soil suitable in the field of
                construction.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Soil.jpg" alt="Soil">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead4">Soil</h5>
              <p id="lblMinPara4">
                Ordinary earth soil used for filling the embankment, roads, railways and building.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/LimestoneandLimeShell.jpg" alt="Limestone and Lime Shell ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead5">Limestone and Lime Shell</h5>
              <p id="lblMinPara5">
                The uses of limestones are many and comprise: as a building material, an essential component of concrete
                (Portland cement), as aggregate for the base of roads, as white pigment or filler in products such as
                toothpaste or paints, as a chemical feedstock for the production of lime, as a soil conditioner, or as a
                popular decorative. Limestone is used in kilns for manufacture of lime that is used as building
                material.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/MangaloreTileClay.jpg" alt="Mangalore Tile Clay ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead6">Mangalore Tile Clay</h5>
              <p id="lblMinPara6">
                Used for manufacturing the Mangalore tiles. Structural clay tile describes a category of burned-clay
                building materials used to construct roofing, walls, and flooring for structural and non-structural
                purposes, especially in fireproofing applications.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/ChalcedonyPebbles.jpg" alt="Chalcedony Pebbles ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead7">Chalcedony Pebbles</h5>
              <p id="lblMinPara7">
                It is believed that this stone calms and stabilizes energy and icreases inner peace, emotional strength
                and mental abilities. It is used for ball mill purpose only. Chalcedony is also known as a healing stone
                that protects against various health problems.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/SlateandShale.jpg" alt="Slate and Shale ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead8">Slate and Shale</h5>
              <p id="lblMinPara8">
                It is used for building material and is created by the alteration of shale or mudstone by low-grade
                regional metamorphism. Slate is a fine-grained and foliated metamorphic rock. It is commonly used for
                flooring, roofing, and flagging due to its durability and attractive appearance.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/BrickClay.jpg" alt="Brick Clay ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead9">Brick Clay</h5>
              <p id="lblMinPara9">
                Brick clay is rich in alumina, silica, calcium, oxides of iron, magnesium and organic matter. These are
                low grade clays used most for the manufacturing of building bricks and similar clay products.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Dolomite.jpg" alt="Dolomite ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead10">Dolomite</h5>
              <p id="lblMinPara10">
                Dolomite is used as a source of magnesium metal and of magnesia, which is a constituent of refractory
                bricks. It is used as an ornamental stone, a concrete aggregate, and a source of magnesium oxide, as
                well as in the Pidgeon process for the production of magnesium.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Quartz.jpg" alt="Quartz ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead11">Quartz</h5>
              <p id="lblMinPara11">
                It is an important mineral and has several uses. While sand, which is composed of tiny Quartz pebbles,
                is the primary ingredient for the manufacture of glass, transparent Rock Crystal has many electronic
                uses such as being used as oscillators in radios, watches, and pressure gauges, and in the study of
                optics. Silica glass (also called fused quartz) is used in optics to transmit ultraviolet light. On the
                other hand, Crushed quartz is used as an abrasive in sandpaper, silica sand is employed in sandblasting,
                and sandstone is still used whole to make whetstones, millstones, and grindstones.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Quartzite.jpg" alt="Quartzite">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead12">Quartzite</h5>
              <p id="lblMinPara12">
                A metamorphic rock, quartzite can be used to cover walls, as roofing tiles, as flooring, and stairsteps.
                As compared to granite, it is harder and more resistant to stains. Its use for countertops in kitchens
                is increasing at a rapid pace. Sometimes, in road construction crushed quartzite is used.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Bentonite.jpg" alt="Bentonite ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead13">Bentonite</h5>
              <p id="lblMinPara13">
                Bentonite is a clay generated frequently from the change of volcanic ash, consisting predominantly of
                smectite minerals, usually montmorillonite. The primary uses of bentonite are as drilling mud, binder
                (e.g. foundry-sand bond, iron ore pelletizer), purifier, absorbent (e.g. pet litter), and as a
                groundwater barrier. Nearly 50 per cent of the US production of bentonite was used as drilling mud as of
                1990s.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/DecorativeStones.jpg" alt="Decorative Stones ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead14">Decorative Stones</h5>
              <p id="lblMinPara14">
                The main use of these stones is decoration purpose.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Agate.jpg" alt="Agate ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead15">Agate</h5>
              <p id="lblMinPara15">
                Since ages it has been used to make knife-edge bearings for laboratory balances and precision pendulums.
                It is found in Aurgangabad, Jalna, Jalgaon and Buldhana. Industrial uses of agate exploit its hardness,
                ability to retain a highly polished surface finish and resistance to chemical attack. Sometimes, it is
                also used to make mortars and pestles to crush and mix chemicals.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Corundum.jpg" alt="Corundum ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead16">Corundum</h5>
              <p id="lblMinPara16">
                It can scratch almost every other mineral. In addition to being a precious gem, corundum finds some use
                as an abrasive, owing to the extreme hardness of the material (9 on the Mohs hardness scale). It is
                commonly used as an abrasive on everything from sandpaper to large tools used in machining metals,
                plastics, and wood. It is also used for grinding optical glass and for polishing metals and has also
                been made into sandpapers and grinding wheels.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Feldspar.jpg" alt="Feldspar ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead17">Feldspar</h5>
              <p id="lblMinPara17">
                Feldspars are a group of rock-forming tectosilicate minerals. It is a common raw material used in
                ceramics, glassmaking, and sometimes also as a filler and extender in paint, plastics, and rubber. In
                glassmaking, alumina from feldspar enhances product hardness, durability, and resistance to chemical
                corrosion.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Fireclay.jpg" alt="Fireclay ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead18">Fireclay</h5>
              <p id="lblMinPara18">
                The primary uses of fire clay are in the manufacture of firebrick and of various accessory utensils,
                such as crucibles, saggers, retorts, and glass pots, used in the metalworking industries. Fire clay is
                resistant to high temperatures, having fusion points higher than 1,600 °C (2,910 °F).
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Laterite.jpg" alt="Laterite ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead19">Laterite</h5>
              <p id="lblMinPara19">
                A low-grade bauxite rich in iron and aluminium, Laterite can be considered as polymetallic ore as it is
                not only the essential repository for aluminium, but also a source of iron, manganese, cobalt, nickel
                and chromium. In addition, it has various trace elements like gallium and vanadium which can be
                extracted as by-products.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Mica.jpg" alt="Mica ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead20">Mica</h5>
              <p id="lblMinPara20">
                The plastic industry used ground mica as an extender and filler and also as a reinforcing agent. The
                rubber industry uses ground mica as an inert filler and as a mold lubricant in the manufacture of molded
                rubber products, including tires. Sheet mica is used principally in the electronic and electrical
                industries.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Pyrophyllite.jpg" alt="Pyrophyllite ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead21">Pyrophyllite</h5>
              <p id="lblMinPara21">
                Pyrophyllite is used for ceramics, in paints, insecticides, and in the production of rubber. It is also
                used as a minor ornamental stone for carvings and sculptures.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/Shale.jpg" alt="Shale ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead22">Shale</h5>
              <p id="lblMinPara22">
                Shale has many commercial uses. It is a source material in the ceramics industry to make brick, tile,
                and pottery. Shale used to make pottery and building materials requires little processing besides
                crushing and mixing with water. Shale is crushed and heated with limestone to make cement for the
                construction industry.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/SilicaSand.jpg" alt="Silica Sand ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead23">Silica Sand</h5>
              <p id="lblMinPara23">
                Silica sand (often called industrial sand when used for this purpose) is the main structural component
                in a number of construction products. Flooring, mortars, cement, roofing shingles, asphalt, and other
                industrial materials all use silica to improve durability and structural integrity.
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="../../../../assets/images/Minerals/ChinaClay.jpg" alt="China Clay ">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mt-0" id="lblamhead24">China Clay</h5>
              <p id="lblMinPara24">
                Kaolin, also called china clay, soft white clay that is an essential ingredient in the manufacture of
                china and porcelain and is widely used in the making of paper, rubber, paint, and many other products.
                Kaolin is named after the hill in China (Kao-ling) from which it was mined for centuries.
              </p>
            </div>
          </div>









        </div>

        <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="pills-price-tab">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th id="lbltblSrNo">Sr. No.
                    </th>
                    <th id="lbltblMineral">Mineral Type
                    </th>
                    <th id="lbltblMinRate">Royalty Rate (Rs.)
                    </th>
                  </tr>
                </thead>
                <tbody>                                
                    <tr>
                        <td>1
                        </td>
                        <td id="lbltblMin1">Sand (Mumbai Region)
                        </td>
                        <td>800
                        </td>
                    </tr>
                    <tr>
                        <td>2
                        </td>
                        <td id="lbltblMin01">Sand (Other Than Mumbai)
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>3
                        </td>
                        <td id="lbltblMin2">Stone
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>4
                        </td>
                        <td id="lbltblMin3">Murum
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>5
                        </td>
                        <td id="lbltblMin4">Soil
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>6
                        </td>
                        <td id="lbltblMin5">Limestone and Lime Shell
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>7
                        </td>
                        <td id="lbltblMin6">Mangalore Tile Clay
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>8
                        </td>
                        <td id="lbltblMin7">Chalcedony Pebbles
                        </td>
                        <td>2000
                        </td>
                    </tr>
                    <tr>
                        <td>9
                        </td>
                        <td id="lbltblMin8">Slate and Shale
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>10
                        </td>
                        <td id="lbltblMin9">Brick Clay
                        </td>
                        <td>160
                        </td>
                    </tr>
                    <tr>
                        <td>11
                        </td>
                        <td id="lbltblMin10">Dolomite
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>12
                        </td>
                        <td id="lbltblMin11">Quartz
                        </td>
                        <td>800
                        </td>
                    </tr>
                    <tr>
                        <td>13
                        </td>
                        <td id="lbltblMin12">Quartzite
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>14
                        </td>
                        <td id="lbltblMin13">Bentonite
                        </td>
                        <td>1024
                        </td>
                    </tr>
                    <tr>
                        <td>15
                        </td>
                        <td id="lbltblMin14">Decorative Stones
                        </td>
                        <td>1920
                        </td>
                    </tr>
                    <tr>
                        <td>16
                        </td>
                        <td id="lbltblMin15">Agate
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>17
                        </td>
                        <td id="lbltblMin16">Corundum
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>18
                        </td>
                        <td id="lbltblMin17">Felspar
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>19
                        </td>
                        <td id="lbltblMin18">Fireclay
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>20
                        </td>
                        <td id="lbltblMin19">Laterite
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>21
                        </td>
                        <td id="lbltblMin20">Mica
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>22
                        </td>
                        <td id="lbltblMin21">Pyrophyllite
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>23
                        </td>
                        <td id="lbltblMin22">Shale
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>24
                        </td>
                        <td id="lbltblMin23">Silica Sand
                        </td>
                        <td>400
                        </td>
                    </tr>
                    <tr>
                        <td>25
                        </td>
                        <td id="lbltblMin24">China Clay
                        </td>
                        <td>400
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="card" style="width: 18rem;">
      <div class="card-header ">
        About
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-0">
          <a routerLink="/system-overview" class="list-group-item list-group-item-action " id="lblrtSysOverview">System
            Overview</a>
        </li>
        <li class="list-group-item p-0">
          <a routerLink="/about-minerals" class="list-group-item list-group-item-action active"
            id="lblrtMinerals">Minerals</a>
        </li>
        <li class="list-group-item p-0">
          <a routerLink="/district-mineral-foundation" class="list-group-item list-group-item-action"
            id="lblrtDMF">DMF</a>
        </li>
      </ul>
    </div>
  </div>
</div>
