body {
    font-family: 'Inter', sans-serif;
}

:root {
    --theme-o-color: #37597d;
    --theme-maroon-color: #7d3754;
    --theme-dark-color: #000000;
    --header-height: 3.5rem;
    --nav-width: 260px;
    --main-color: #37597d;
    --main-color-light: #6385aa;
    --link-color: #00A2E9;
    --orange-color: #fd7e14;
}

@media screen and (min-width:1024px) {
     :root {
        --normal-font-size: 1rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box
}