main {
    /* margin: var(--header-height) 0 0 4rem; */
    margin-top: 59px;
    margin-left: 68px;
    width: calc(100% - 68px);
    /* padding: 1rem 1.5rem 0 1.5rem; */
    font-family: var(--body-font);
    padding: 10px 15px;
}

#topbarbtn {
    font-size: 0.85rem;
    box-shadow: 0 1px 0 rgb(22 8 43 / 10%);
    position: fixed;
    top: 48px;
    width: calc(100% - 68px);
    z-index: 99;
    background-color: #fff;
    margin-bottom: 10px;
}

#topbarbtn .navbar {
    padding: 5px 10px;
}

#topbarbtn .navbar-brand {
    font-size: 0.85rem;
}

.btn-main {
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.85rem;
    box-shadow: none;
}
.btn-clear
{
    background-color: rgb(248, 115, 115);
    color: #fff;
    font-size: 0.85rem;
    box-shadow: none;
}
.btn-edit
{
    background-color: var(--orange-color);
    color: #fff;
    font-size: 0.85rem;
    box-shadow: none;
}

#content-wrapper {
    margin-top: 93px;
    padding-top: 10px;
}

#buttonbar {
    margin-bottom: 15px;
    padding: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

#buttonbar .navbar-brand {
    font-size: 0.85rem;
    font-weight: 500;
    color: #888;
    line-height: 38px;
}

#buttonbar .btn {
    font-size: 0.85rem !important;
    box-shadow: none !important;
}

#buttonbar .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 200px;
}

#buttonbar .dropdown-menu .form-select,
#buttonbar .dropdown-menu .form-check-label {
    font-size: 0.85rem;
    box-shadow: none;
}

.filterbox {
    background-color: transparent;
}

.filterbox .form-control,
.filterbox .form-select,
.filterbox .btn,
.filterbox .form-check {
    font-size: 0.8rem;
    box-shadow: none;
}
.filterbox .form-check
{
    margin-top: 6px;
}
/deep/ .filterbox .ngx-select__toggle,
/deep/ .filterbox .ngx-select input,
/deep/ .filterbox .ngx-select__toggle{
    font-size: 0.8rem !important;
    box-shadow: none;
    outline: none;
    border: 1px solid #ced4da;
}
/deep/ .filterbox .ngx-select__item,
/deep/ .filterbox .ngx-select__clear{
    font-size: 0.8rem !important;
}
/deep/ .filterbox .ngx-select__item_active{
    background-color:var(--main-color);
    color:#fff
}

table.fold-table {
    background: white;
}

    table.fold-table > tbody > tr.view {
        transition: all 0.3s ease;
    }

        table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

            table.fold-table > tbody > tr.view td:last-child,
            table.fold-table > tbody > tr.view th:last-child {
                position: relative;
                border-right: 1px solid rgba(0,0,0,.125);
                /* padding-right: 20px; */
            }

                table.fold-table > tbody > tr.view td:last-child:before,
                table.fold-table > tbody > tr.view th:last-child:before {
                    position: absolute;
                    top: calc(50% - 10px);
                    right: 10px;
                    margin-top: 0px;
                    font-family: "Font Awesome 5 Free";
                    content: "\f107";
                    /* content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAAG8AAABvAfGi3EMAAAEUSURBVChTvZC7SkNREEXXHB/EdwxYCzb+gIVgaWlhpa2FYEpRsJHgRRDEoJAUFoKpRBt7wU/w9RN+gEQIKj7uuE+4agKxzYLDPZzZe2bPpWsY1XSCnNUp2kf29j+J5xj3scArF9R9lTXvy0qdSXyYAT+V/ixgdoyzzpQvqtCfSdpJPM+g7+s2Qz87gReuFPJIp8SQF5sRWqmmo5qwrds0PaywaTeBXXunl3NSyjob6pj8Gg/SEd44JDCrNCUm7V7J3JrFyIl2evZ5GWuaWlGjGp/E6HOqLvNgd1zaV5T+mSKuJmVfkLCiSkPfgiItsWW3knqm0uBWNJq8XRNsT4bHToZI+6Qf4l8saK8na2jnNHvtOvANs1lW5U7/cMEAAAAASUVORK5CYII='); */
                    transition: all 0.3s ease;
                    font-size: 16px;
                    font-weight: 900;
                    color: var(--main-color);
                }

        table.fold-table > tbody > tr.view.open {
            background: #eee;
            font-weight:600;
        }

            table.fold-table > tbody > tr.view.open td:last-child:before,
            table.fold-table > tbody > tr.view.open th:last-child:before {
                transform: rotate(-180deg);
            }

    table.fold-table > tbody > tr.fold {
        display: none;
    }
        table.fold-table > tbody > tr.fold:hover
        {
            background-color:#fff;
        }

        table.fold-table > tbody > tr.fold.open {
            display: table-row;
        }

.fold-content {
    padding: 0em;
}
.dash-table
{
    font-size: 0.8rem;
    border: 1px solid rgba(0,0,0,.125);
}
.dash-table thead th
{
    background-color: #f1f1f1;
    border-bottom: 1px solid rgba(0,0,0,.25);
    color: #000;
    font-weight: 500;
}
.dash-table tbody td
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inner-card .card-header
{
    border-bottom: none;
    background-color: transparent;
    font-weight: 600;
    color: var(--link-color);
}
.inner-card .card-header a{
    background-color: var(--link-color);
    color: #fff;
    border-radius: 3px;
    font-size: 0.65rem;
    padding: 3px 6px;
    text-decoration: none;
}
.inner-card .card-body
{
    padding-top: 0;
}
.inner-card .inner-table
{
    margin-bottom: 0;
    font-size: 0.75rem;
}
.inner-card .inner-table td{
padding: 5px;
}
.inner-card .inner-table td.tlabel
{
    color: #666;
}
.inner-card .inner-table td.tdata
{
    color: #000;
    font-weight: 600;
}
#formcontainer{
    margin-bottom: 15px;
}
#formcontainer .card-header
{
    font-size: 0.95rem;
    color: #555;
    background-color: #fff;
}
#formcontainer .col-form-label
{
    font-size: 0.75rem;
}
#formcontainer .form-control,
#formcontainer .form-select,
#formcontainer .form-check{
    font-size: 0.75rem;
    box-shadow: none;
    outline: none;
}
#formcontainer .form-check{
    margin-top: 5px;
}
.pagination
{
    font-size: 0.75rem;
}
.pagination .page-link
{
    color: #333;
}
.pagination .page-item.active .page-link
{
    background-color: var(--main-color) !important;
    color: #fff !important;
}
