main {
    /* margin: var(--header-height) 0 0 4rem; */
    margin-top: 59px;
    margin-left: 68px;
    width: calc(100% - 68px);
    /* padding: 1rem 1.5rem 0 1.5rem; */
    font-family: var(--body-font);
    padding: 10px 15px;
}

#topbarbtn {
    font-size: 0.85rem;
    box-shadow: 0 1px 0 rgb(22 8 43 / 10%);
    position: fixed;
    top: 48px;
    width: calc(100% - 68px);
    z-index: 99;
    background-color: #fff;
    margin-bottom: 10px;
}

#topbarbtn .navbar {
    padding: 5px 10px;
}

#topbarbtn .navbar-brand {
    font-size: 0.85rem;
}

.btn-main {
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.85rem;
    box-shadow: none;
}

#content-wrapper {
    margin-top: 93px;
    padding-top: 10px;
}